<div class="route-container">
  <h1 class="page-title">Pathway Enrichment Analysis</h1>
  <mat-card>
    <mat-card-content>
      <mat-tab-group
        [selectedIndex]="selectedIndex"
        (selectedTabChange)="selectedTabChange($event)"
      >
        <mat-tab textLabel="input">
          <ng-template mat-tab-label> Input Analytes </ng-template>
          <ng-template matTabContent>
            <div class="error-message-container" *ngIf="errorMessage">
              <div class="error-message">
                <div class="close-button">
                  <button
                    mat-mini-fab
                    aria-label="Close error message"
                    (click)="closeErrorMessage()"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
                <span>
                  {{ errorMessage }}
                </span>
              </div>
            </div>
            <form #anlyteForm="ngForm" class="analyte-form">
              <div class="identifiers">
                <div class="text-input-container">
                  <textarea
                    class="targetBox"
                    placeholder="List of Analyte IDs or names"
                    spellcheck="false"
                    [(ngModel)]="analytesInput"
                    name="analytesInput"
                    [required]="true"
                  ></textarea>
                </div>
              </div>
              <div class="description-right">
                <div class="space-bottom">
                  Enter a list of analyte (metabolites, genes) names or IDs so
                  the application can try to match them against our database. We
                  recommend inputting a list of IDs because analytes can have
                  many synomyns, leading to potential errors in mapping. If
                  names are used, mappings should be verified.
                </div>
                <div class="space-bottom">
                  When entering IDs, prepend with the database of origin
                  followed by a colon, for example <strong>kegg</strong>:C02712,
                  <strong>hmdb</strong>:HMDB04824, etc.. It is possible to input
                  IDs using multiple different sources. RaMP currently supports
                  the following id prefixes:
                </div>
                <mat-table [dataSource]="idTypes" class="space-bottom">
                  <ng-container
                    [matColumnDef]="column.value"
                    *ngFor="let column of idTypeColumns; index as index"
                  >
                    <mat-header-cell *matHeaderCellDef>
                      <span>
                        {{ column.display }}
                      </span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <span>{{ row[column.value] }}</span>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row
                    *matHeaderRowDef="idTypeDisplayedColumns"
                  ></mat-header-row>
                  <mat-row
                    *matRowDef="let row; columns: idTypeDisplayedColumns"
                  ></mat-row>
                </mat-table>
                <div class="space-bottom">
                  <button
                    mat-flat-button
                    color="accent"
                    (click)="findAnalytes()"
                    [disabled]="anlyteForm.invalid"
                  >
                    Find analytes in database
                  </button>
                </div>
                <div class="space-bottom">
                  <button
                    class="form-divider"
                    mat-stroked-button
                    (click)="insertSample()"
                  >
                    <span> &#60; Example of Analytes </span>
                  </button>
                </div>
              </div>
            </form>
          </ng-template>
        </mat-tab>
        <mat-tab *ngIf="analyteMatches" textLabel="analyteMatches">
          <ng-template mat-tab-label> Analytes Mapped in RaMP </ng-template>
          <ng-template matTabContent>
            <div
              class="results-message-container"
              *ngIf="analyteMatches.length == 0"
            >
              Your query didn't yield any results.
            </div>
            <div class="error-message-container" *ngIf="errorMessage">
              <div class="error-message">
                <div class="close-button">
                  <button
                    mat-mini-fab
                    aria-label="Close error message"
                    (click)="closeErrorMessage()"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
                <span>
                  {{ errorMessage }}
                </span>
              </div>
            </div>
            <div
              class="results-table-container"
              *ngIf="analyteMatches && analyteMatches.length"
            >
              <div class="accordion-container">
                <mat-accordion>
                  <mat-expansion-panel
                    (opened)="detailsPanelOpen = true"
                    (closed)="detailsPanelOpen = false"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title> Details </mat-panel-title>
                      <mat-panel-description>
                        {{
                          !detailsPanelOpen
                            ? 'Click to see table details'
                            : 'Click to collapse panel'
                        }}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div>
                      The analytes table contains the genes and/or metabolites
                      in the RaMP database that matched your input list. If more
                      than one analyte matched a single entry, the
                      <i># Analytes Found</i> column will have a value that's >
                      1 and you will have to click on the row to confirm that
                      the right analyte is selected for the pathway analysis.
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
              <div class="pathways-table-top-options">
                <form #anlyteForm="ngForm">
                  <button
                    mat-flat-button
                    color="accent"
                    (click)="mapAnalytesToPathways()"
                    [disabled]="anlyteForm.invalid"
                  >
                    Map analytes to pathways
                  </button>
                </form>
                <div class="fill-middle"></div>
                <mat-paginator
                  [length]="(analyteMatches && analyteMatches.length) || 0"
                  [pageSize]="pageSize"
                  [pageIndex]="page"
                  showFirstLastButtons="true"
                  (page)="pageChange(analyteMatches, $event)"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                >
                </mat-paginator>
              </div>
              <div class="table-container">
                <mat-table
                  [dataSource]="pagedData"
                  multiTemplateDataRows
                  matSort
                  (matSortChange)="sortData(analyteMatches, $event)"
                >
                  <ng-container
                    [matColumnDef]="column.value"
                    *ngFor="let column of analyteMatchesColumns; index as index"
                  >
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      <span>
                        {{ column.display }}
                      </span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <span>{{ row[column.value] }}</span>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="expandedDetail">
                    <mat-cell
                      *matCellDef="let element"
                      [attr.colspan]="analyteMatchesDisplayedColumns.length"
                    >
                      <div
                        class="example-element-detail"
                        [@detailExpand]="
                          element == expandedElement ? 'expanded' : 'collapsed'
                        "
                      >
                        <mat-table [dataSource]="element.analytes">
                          <ng-container matColumnDef="isSelected">
                            <mat-header-cell *matHeaderCellDef>
                              <span> Selected </span>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              <span>
                                <mat-checkbox [(ngModel)]="row.isSelected">
                                </mat-checkbox>
                              </span>
                            </mat-cell>
                          </ng-container>
                          <ng-container
                            [matColumnDef]="column.value"
                            *ngFor="
                              let column of analyteColumns;
                              index as index
                            "
                          >
                            <mat-header-cell *matHeaderCellDef>
                              <span>
                                {{ column.display }}
                              </span>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              <span>{{ row[column.value] }}</span>
                            </mat-cell>
                          </ng-container>
                          <mat-header-row
                            *matHeaderRowDef="analyteDisplayedColumns"
                          >
                          </mat-header-row>
                          <mat-row
                            *matRowDef="
                              let row;
                              columns: analyteDisplayedColumns
                            "
                          >
                          </mat-row>
                        </mat-table>
                      </div>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row
                    *matHeaderRowDef="analyteMatchesDisplayedColumns"
                  ></mat-header-row>
                  <mat-row
                    *matRowDef="
                      let row;
                      columns: analyteMatchesDisplayedColumns
                    "
                    [class]="{ 'expandable-table-row': row.numAnalytes > 1 }"
                    [class.expanded-table-row]="expandedElement === row"
                    (click)="expandRow(row)"
                  >
                  </mat-row>
                  <mat-row
                    *matRowDef="let row; columns: ['expandedDetail']"
                    class="detail-row"
                  >
                  </mat-row>
                </mat-table>
              </div>
              <div>
                <mat-paginator
                  [length]="(analyteMatches && analyteMatches.length) || 0"
                  [pageSize]="pageSize"
                  [pageIndex]="page"
                  showFirstLastButtons="true"
                  (page)="pageChange(analyteMatches, $event)"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                >
                </mat-paginator>
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab *ngIf="pathways" textLabel="pathways">
          <ng-template mat-tab-label> Pathways </ng-template>
          <ng-template matTabContent>
            <div class="results-message-container" *ngIf="pathways.length == 0">
              Your query didn't yield any results.
            </div>
            <div class="error-message-container" *ngIf="errorMessage">
              <div class="error-message">
                <div class="close-button">
                  <button
                    mat-mini-fab
                    aria-label="Close error message"
                    (click)="closeErrorMessage()"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
                <span>
                  {{ errorMessage }}
                </span>
              </div>
            </div>
            <div
              class="results-table-container"
              *ngIf="pathways && pathways.length"
            >
              <div class="accordion-container">
                <mat-accordion>
                  <mat-expansion-panel
                    (opened)="detailsPanelOpen = true"
                    (closed)="detailsPanelOpen = false"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title> Details </mat-panel-title>
                      <mat-panel-description>
                        {{
                          !detailsPanelOpen
                            ? 'Click to see table details'
                            : 'Click to collapse panel'
                        }}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div>
                      The pathways table shows the mapping from analytes to
                      pathways.
                    </div>
                  </mat-expansion-panel>
                  <mat-expansion-panel
                    (opened)="rFunctionPanelOpen = true"
                    (closed)="rFunctionPanelOpen = false"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title> R Package Function </mat-panel-title>
                      <mat-panel-description>
                        {{
                          !rFunctionPanelOpen
                            ? 'Click to see the R package function'
                            : 'Click to collapse panel'
                        }}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="code-containder">
                      <div>pathways_df &#60;- RaMP::getPathwayFromAnalyte(</div>
                      <div class="indent">
                        analytes = c({{ analytesParameters.join(', ') }}),
                      </div>
                      <div class="indent">conpass = &#123;conpass&#125;,</div>
                      <div class="indent">host = &#123;host&#125;,</div>
                      <div class="indent">dbname = &#123;dbname&#125;,</div>
                      <div class="indent">username = &#123;username&#125;,</div>
                      <div class="indent">NameOrIds = 'ids' or 'names'</div>
                      <div>)</div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
              <div class="pathways-table-top-options">
                <form #anlyteForm="ngForm">
                  <button
                    mat-flat-button
                    color="accent"
                    (click)="runCombinedFisherTest()"
                    [disabled]="anlyteForm.invalid"
                  >
                    Run Combined Fisher's Test
                  </button>
                </form>
                <div class="fill-middle"></div>
                <mat-paginator
                  [length]="(pathways && pathways.length) || 0"
                  [pageSize]="pageSize"
                  [pageIndex]="page"
                  showFirstLastButtons="true"
                  (page)="pageChange(pathways, $event)"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                >
                </mat-paginator>
              </div>
              <div class="table-container">
                <mat-table
                  [dataSource]="pagedData"
                  matSort
                  (matSortChange)="sortData(pathways, $event)"
                >
                  <ng-container
                    [matColumnDef]="column.value"
                    *ngFor="let column of pathwayColumns; index as index"
                  >
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      <span>
                        {{ column.display }}
                      </span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <span>{{ row[column.value] }}</span>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row
                    *matHeaderRowDef="pathwayDisplayedColumns"
                  ></mat-header-row>
                  <mat-row
                    *matRowDef="let row; columns: pathwayDisplayedColumns"
                  ></mat-row>
                </mat-table>
              </div>
              <div>
                <mat-paginator
                  [length]="(pathways && pathways.length) || 0"
                  [pageSize]="pageSize"
                  [pageIndex]="page"
                  showFirstLastButtons="true"
                  (page)="pageChange(pathways, $event)"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                >
                </mat-paginator>
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab *ngIf="fisherTestResults" textLabel="fisherTestResults">
          <ng-template mat-tab-label> Fisher's Test </ng-template>
          <ng-template matTabContent>
            <div class="flex-column">
              <div
                class="results-message-container"
                *ngIf="fisherTestResults.length == 0"
              >
                Your query didn't yield any results.
              </div>
              <div class="error-message-container" *ngIf="errorMessage">
                <div class="error-message">
                  <div class="close-button">
                    <button
                      mat-mini-fab
                      aria-label="Close error message"
                      (click)="closeErrorMessage()"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                  <span>
                    {{ errorMessage }}
                  </span>
                </div>
              </div>
              <div
                class="results-table-container"
                *ngIf="fisherTestResults && fisherTestResults.length"
              >
                <div class="accordion-container">
                  <mat-accordion>
                    <mat-expansion-panel
                      (opened)="detailsPanelOpen = true"
                      (closed)="detailsPanelOpen = false"
                    >
                      <mat-expansion-panel-header>
                        <mat-panel-title> Details </mat-panel-title>
                        <mat-panel-description>
                          {{
                            !detailsPanelOpen
                              ? 'Click to see table details'
                              : 'Click to collapse panel'
                          }}
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div>
                        This table shows the results of the Fisher's Test.
                      </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel
                      (opened)="rFunctionPanelOpen = true"
                      (closed)="rFunctionPanelOpen = false"
                    >
                      <mat-expansion-panel-header>
                        <mat-panel-title> R Package Function </mat-panel-title>
                        <mat-panel-description>
                          {{
                            !rFunctionPanelOpen
                              ? 'Click to see the R package function'
                              : 'Click to collapse panel'
                          }}
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div class="space-bottom">
                        <span class="code">pathways_df</span> is the dataframe
                        returned by the
                        <span class="code">RaMP::getPathwayFromAnalyte</span>
                        function.
                      </div>
                      <div class="code-containder">
                        <div>
                          fishers_results_df &#60;- RaMP::runCombinedFisherTest(
                        </div>
                        <div class="indent">pathwaydf = pathways_df,</div>
                        <div class="indent">conpass = &#123;conpass&#125;,</div>
                        <div class="indent">host = &#123;host&#125;,</div>
                        <div class="indent">dbname = &#123;dbname&#125;,</div>
                        <div class="indent">
                          username = &#123;username&#125;,
                        </div>
                        <div>)</div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
                <div class="pathways-table-top-options">
                  <form #anlyteForm="ngForm" class="flex-row">
                    <div class="space-right">
                      <button
                        mat-flat-button
                        color="accent"
                        (click)="filterFisherTestResults()"
                        [disabled]="anlyteForm.invalid"
                      >
                        Filter Fisher's Test Results
                      </button>
                    </div>
                    <mat-form-field class="space-right number-input">
                      <mat-label>Holm adjustment cutoff</mat-label>
                      <input
                        type="number"
                        matInput
                        [(ngModel)]="pHolmAdjCutoffInput"
                        required
                        name="pHolmAdjCutoffInput"
                      />
                      <mat-hint>(0 - 1)</mat-hint>
                    </mat-form-field>
                    <mat-form-field class="number-input">
                      <mat-label>fdr adjustment cutoff</mat-label>
                      <input
                        type="number"
                        matInput
                        [(ngModel)]="pfdrAdjCutoffInput"
                        name="pfdrAdjCutoffInput"
                      />
                      <mat-hint>(0 - 1)</mat-hint>
                    </mat-form-field>
                  </form>
                  <div class="fill-middle"></div>
                  <mat-paginator
                    [length]="
                      (fisherTestResults && fisherTestResults.length) || 0
                    "
                    [pageSize]="pageSize"
                    [pageIndex]="page"
                    showFirstLastButtons="true"
                    (page)="pageChange(fisherTestResults, $event)"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                  >
                  </mat-paginator>
                </div>
                <div class="table-container">
                  <mat-table
                    [dataSource]="pagedData"
                    matSort
                    (matSortChange)="sortData(fisherTestResults, $event)"
                  >
                    <ng-container
                      [matColumnDef]="column.value"
                      *ngFor="let column of fisherTestColumns; index as index"
                    >
                      <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span>
                          {{ column.display }}
                        </span>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span>{{ row[column.value] }}</span>
                      </mat-cell>
                    </ng-container>
                    <mat-header-row
                      *matHeaderRowDef="fisherTestDisplayedColumns"
                    ></mat-header-row>
                    <mat-row
                      *matRowDef="let row; columns: fisherTestDisplayedColumns"
                    ></mat-row>
                  </mat-table>
                </div>
                <div>
                  <mat-paginator
                    [length]="
                      (fisherTestResults && fisherTestResults.length) || 0
                    "
                    [pageSize]="pageSize"
                    [pageIndex]="page"
                    showFirstLastButtons="true"
                    (page)="pageChange(fisherTestResults, $event)"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                  >
                  </mat-paginator>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab
          *ngIf="filteredFisherTestResults"
          textLabel="filteredFisherTestResults"
        >
          <ng-template mat-tab-label> Filtered Fisher's Test </ng-template>
          <ng-template matTabContent>
            <div class="flex-column">
              <div
                class="results-message-container"
                *ngIf="filteredFisherTestResults.length == 0"
              >
                Your query didn't yield any results.
              </div>
              <div class="error-message-container" *ngIf="errorMessage">
                <div class="error-message">
                  <div class="close-button">
                    <button
                      mat-mini-fab
                      aria-label="Close error message"
                      (click)="closeErrorMessage()"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                  <span>
                    {{ errorMessage }}
                  </span>
                </div>
              </div>
              <div
                class="results-table-container"
                *ngIf="
                  filteredFisherTestResults && filteredFisherTestResults.length
                "
              >
                <div class="accordion-container">
                  <mat-accordion>
                    <mat-expansion-panel
                      (opened)="detailsPanelOpen = true"
                      (closed)="detailsPanelOpen = false"
                    >
                      <mat-expansion-panel-header>
                        <mat-panel-title> Details </mat-panel-title>
                        <mat-panel-description>
                          {{
                            !detailsPanelOpen
                              ? 'Click to see table details'
                              : 'Click to collapse panel'
                          }}
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div>
                        This table shows a filtered list of the Fisher's Test
                        based on the <i>Holm adjustment</i> or
                        <i>fdr adjustment</i> cutoff parameters that you
                        entered.
                      </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel
                      (opened)="rFunctionPanelOpen = true"
                      (closed)="rFunctionPanelOpen = false"
                    >
                      <mat-expansion-panel-header>
                        <mat-panel-title> R Package Function </mat-panel-title>
                        <mat-panel-description>
                          {{
                            !rFunctionPanelOpen
                              ? 'Click to see the R package function'
                              : 'Click to collapse panel'
                          }}
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div class="space-bottom">
                        <span class="code">fishers_results_df</span> is the
                        dataframe returned by the
                        <span class="code">RaMP::runCombinedFisherTest</span>
                        function.
                      </div>
                      <div class="code-containder">
                        <div>
                          filtered_results &#60;- RaMP::FilterFishersResults(
                        </div>
                        <div class="indent">
                          fishers_df = fishers_results_df,
                        </div>
                        <div class="indent">
                          p_holmadj_cutoff = {{ pHolmAdjCutoffInput }},
                        </div>
                        <div class="indent">
                          p_fdradj_cutoff = {{ pfdrAdjCutoffInput }}
                        </div>
                        <div>)</div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
                <div class="pathways-table-top-options">
                  <form #anlyteForm="ngForm" class="flex-row">
                    <div class="space-right">
                      <button
                        mat-flat-button
                        color="accent"
                        (click)="clusterFilteredFisherResults()"
                        [disabled]="anlyteForm.invalid"
                      >
                        Cluster Fisher's Test Results
                      </button>
                    </div>
                    <mat-form-field class="space-right number-input">
                      <mat-label>% analyte overlap</mat-label>
                      <input
                        type="number"
                        matInput
                        [(ngModel)]="percAnalyteOverlap"
                        required
                        name="percAnalyteOverlap"
                      />
                      <mat-hint>(1 - 100)</mat-hint>
                    </mat-form-field>
                    <mat-form-field class="space-right number-input">
                      <mat-label>% pathway overlap</mat-label>
                      <input
                        type="number"
                        matInput
                        [(ngModel)]="percPathwayOverlap"
                        required
                        name="percAnalyteOverlap"
                      />
                      <mat-hint>(1 - 100)</mat-hint>
                    </mat-form-field>
                    <mat-form-field class="number-input">
                      <mat-label>Min pathway to cluster</mat-label>
                      <input
                        type="number"
                        matInput
                        [(ngModel)]="minPathwayTocluster"
                        required
                        name="minPathwayTocluster"
                      />
                    </mat-form-field>
                  </form>
                  <div class="fill-middle"></div>
                  <mat-paginator
                    [length]="
                      (filteredFisherTestResults &&
                        filteredFisherTestResults.length) ||
                      0
                    "
                    [pageSize]="pageSize"
                    [pageIndex]="page"
                    showFirstLastButtons="true"
                    (page)="pageChange(filteredFisherTestResults, $event)"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                  >
                  </mat-paginator>
                </div>
                <div class="table-container">
                  <mat-table
                    [dataSource]="pagedData"
                    matSort
                    (matSortChange)="
                      sortData(filteredFisherTestResults, $event)
                    "
                  >
                    <ng-container
                      [matColumnDef]="column.value"
                      *ngFor="let column of fisherTestColumns; index as index"
                    >
                      <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span>
                          {{ column.display }}
                        </span>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span>{{ row[column.value] }}</span>
                      </mat-cell>
                    </ng-container>
                    <mat-header-row
                      *matHeaderRowDef="fisherTestDisplayedColumns"
                    ></mat-header-row>
                    <mat-row
                      *matRowDef="let row; columns: fisherTestDisplayedColumns"
                    ></mat-row>
                  </mat-table>
                </div>
                <div>
                  <mat-paginator
                    [length]="
                      (filteredFisherTestResults &&
                        filteredFisherTestResults.length) ||
                      0
                    "
                    [pageSize]="pageSize"
                    [pageIndex]="page"
                    showFirstLastButtons="true"
                    (page)="pageChange(filteredFisherTestResults, $event)"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                  >
                  </mat-paginator>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab *ngIf="clusters" textLabel="clusters">
          <ng-template mat-tab-label> Clustering Table </ng-template>
          <ng-template matTabContent>
            <div class="results-message-container" *ngIf="clusters.length == 0">
              Your query didn't yield any results.
            </div>
            <div class="error-message-container" *ngIf="errorMessage">
              <div class="error-message">
                <div class="close-button">
                  <button
                    mat-mini-fab
                    aria-label="Close error message"
                    (click)="closeErrorMessage()"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
                <span>
                  {{ errorMessage }}
                </span>
              </div>
            </div>
            <div
              class="results-table-container"
              *ngIf="clusters && clusters.length"
            >
              <div class="accordion-container">
                <mat-accordion>
                  <mat-expansion-panel
                    (opened)="detailsPanelOpen = true"
                    (closed)="detailsPanelOpen = false"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title> Details </mat-panel-title>
                      <mat-panel-description>
                        {{
                          !detailsPanelOpen
                            ? 'Click to see table details'
                            : 'Click to collapse panel'
                        }}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div>
                      This table shows the filtered list of the Fisher's Test
                      with cluster assignments based on the
                      <i>% analyte overlap</i>, <i>% pathway overlap</i>, and
                      <i>Min pathway to cluster</i> parameters that you entered.
                    </div>
                  </mat-expansion-panel>
                  <mat-expansion-panel
                    (opened)="rFunctionPanelOpen = true"
                    (closed)="rFunctionPanelOpen = false"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title> R Package Function </mat-panel-title>
                      <mat-panel-description>
                        {{
                          !rFunctionPanelOpen
                            ? 'Click to see the R package function'
                            : 'Click to collapse panel'
                        }}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="space-bottom">
                      <span class="code">filtered_results</span> is the object
                      returned by the
                      <span class="code">RaMP::FilterFishersResults</span>
                      function.
                    </div>
                    <div class="code-containder">
                      <div>clustering_results &#60;- RaMP::findCluster(</div>
                      <div class="indent">fishers_df = filtered_results,</div>
                      <div class="indent">
                        perc_analyte_overlap = {{ percAnalyteOverlap }},
                      </div>
                      <div class="indent">
                        min_pathway_tocluster = {{ minPathwayTocluster }},
                      </div>
                      <div class="indent">
                        perc_pathway_overlap = {{ percPathwayOverlap }}
                      </div>
                      <div>)</div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
              <div class="cluster-table-top-options">
                <form #anlyteForm="ngForm" class="flex-row">
                  <div class="space-right">
                    <button
                      mat-flat-button
                      color="accent"
                      (click)="clusterFilteredFisherResults()"
                      [disabled]="anlyteForm.invalid"
                    >
                      Re-cluster Fisher's Test Results
                    </button>
                  </div>
                  <mat-form-field class="space-right number-input">
                    <mat-label>% analyte overlap</mat-label>
                    <input
                      type="number"
                      matInput
                      [(ngModel)]="percAnalyteOverlap"
                      required
                      name="percAnalyteOverlap"
                    />
                    <mat-hint>(1 - 100)</mat-hint>
                  </mat-form-field>
                  <mat-form-field class="space-right number-input">
                    <mat-label>% pathway overlap</mat-label>
                    <input
                      type="number"
                      matInput
                      [(ngModel)]="percPathwayOverlap"
                      required
                      name="percAnalyteOverlap"
                    />
                    <mat-hint>(1 - 100)</mat-hint>
                  </mat-form-field>
                  <mat-form-field class="number-input">
                    <mat-label>Min pathway to cluster</mat-label>
                    <input
                      type="number"
                      matInput
                      [(ngModel)]="minPathwayTocluster"
                      required
                      name="minPathwayTocluster"
                    />
                  </mat-form-field>
                </form>
                <div class="fill-middle"></div>
                <mat-paginator
                  [length]="(clusters && clusters.length) || 0"
                  [pageSize]="pageSize"
                  [pageIndex]="page"
                  showFirstLastButtons="true"
                  (page)="pageChange(clusters, $event)"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                >
                </mat-paginator>
              </div>
              <div class="table-container">
                <mat-table
                  [dataSource]="pagedData"
                  matSort
                  (matSortChange)="sortData(clusters, $event)"
                >
                  <ng-container
                    [matColumnDef]="column.value"
                    *ngFor="let column of clusteringColumns; index as index"
                  >
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      <span>
                        {{ column.display }}
                      </span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <span>{{ row[column.value] }}</span>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row
                    *matHeaderRowDef="clusteringDisplayedColumns"
                  ></mat-header-row>
                  <mat-row
                    *matRowDef="let row; columns: clusteringDisplayedColumns"
                  ></mat-row>
                </mat-table>
              </div>
              <div>
                <mat-paginator
                  [length]="(clusters && clusters.length) || 0"
                  [pageSize]="pageSize"
                  [pageIndex]="page"
                  showFirstLastButtons="true"
                  (page)="pageChange(clusters, $event)"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                >
                </mat-paginator>
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <!-- <mat-tab *ngIf="showPlots">
                    <ng-template mat-tab-label>
                        Plots
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="visualization-container">
                            <div *ngIf="analytes">
                                <div>
                                    <ramp-upset [data]="analytes" (upSetBarClicked)="upSetBarClicked($event)"
                                        title="Overlap of Pathways" nameKey="commonName" valuesKey="pathways"
                                        showSetsSelection="true">
                                    </ramp-upset>
                                </div>
                            </div>
                            <div *ngIf="clusteringResults">
                                <mat-divider></mat-divider>
                                <div>

                                </div>
                            </div>
                            <div *ngIf="clusterCoordinates">
                                <mat-divider></mat-divider>
                                <div>

                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab> -->
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
