.content-container {
  display: flex;
  flex-grow: 1;
}

.mat-card {
  width: auto;
  max-width: 100%;
  flex-grow: 1;
}

.mat-card-content {
  height: 100%;
}

.mat-tab-group {
  height: 100%;
}

::ng-deep .mat-tab-body-wrapper {
  padding-top: 15px;
  flex-grow: 1;
  flex-direction: column;
  align-items: stretch;
}

::ng-deep .mat-tab-body-content {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.analyte-form {
  display: flex;
}

.identifiers {
  width: 400px;
  display: flex;
  flex-direction: column;

  &:not(:first-of-type) {
    margin-left: 15px;
  }
}

.text-input-container {
  flex-grow: 1;
  display: flex;
}

.description-right {
  margin-left: 15px;

  table {
    width: 100%;
  }
}

.form-options {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-top: 50px;
}

.form-option-inputs {
  display: flex;
  flex-direction: column;
}

.number-input {
  width: 175px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.results-table-container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.table-container {
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

.analyte-form {
  display: flex;
}

textarea {
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid rgb(146, 163, 172);
  font-size: 16px;
  width: 100%;
}

.results-message-container {
  font-size: 1.2em;
}

.error-message-container {
  padding: 15px;
  position: absolute;
  background-color: white;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  left: 5px;
  top: 5px;
  right: 5px;
  z-index: 10;

  .close-button {
    float: right;
    margin-top: -15px;
    margin-right: -15px;
  }
}

.error-message {
  color: #b71c1c;
  border: 1px solid #b71c1c;
  border-radius: 2px;
  font-size: 1.2em;
  padding: 10px;
  height: auto;
}

.visualization-container {
  display: flex;
  flex-direction: column;
}

.mat-card .mat-divider-horizontal {
  position: unset;
  margin-top: 10px;
  margin-bottom: 20px;
}

.pathways-table-top-options,
.cluster-table-top-options {
  display: flex;
  align-items: center;
}

.form-options-top {
  padding-bottom: 15px;
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.space-right {
  margin-right: 15px;
}

.mat-row {
  &.detail-row {
    min-height: 0;
  }
  &.contracted-detail-row {
    height: 0;
    min-height: 0;
  }

  &.expanded-detail-row {
    height: auto;
  }

  &.expandable-table-row:not(.expanded-table-row):hover {
    background: whitesmoke;
    cursor: pointer;
  }

  &.expandable-table-row:not(.expanded-table-row):active {
    background: #efefef;
  }
}

.expandable-table-row .mat-cell {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  width: 100%;
  background-color: #e6f0ff;

  .mat-table {
    width: 100%;
    margin: 10px;
    background-color: #e6f0ff;
  }
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

@media (max-width: 1200px) {
  ::ng-deep .mat-tab-body-content {
    flex-direction: column;
  }

  .error-message-container {
    padding: 10px;
  }

  .analyte-form {
    flex-grow: 1;
  }

  .error-message {
    font-size: 1;
  }
}

@media (max-width: 704px) {
  .analyte-form {
    flex-direction: column;
  }

  .identifiers {
    width: 100%;
    flex-grow: 1;
  }

  textarea {
    min-height: 300px;
  }

  .form-option-inputs {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .mat-card {
    margin-bottom: 15px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .mat-table {
    min-width: 650px;
  }
}
