<div class="route-container">
    <h1 class="page-title">
        Ontologies
    </h1>
    <mat-card>
        <mat-card-content>
            <mat-tab-group [selectedIndex]="selectedIndex">
                <mat-tab textLabel="input">
                    <ng-template mat-tab-label>
                        Input
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="error-message-container" *ngIf="errorMessage">
                            <div class="error-message">
                                <div class="close-button">
                                    <button mat-mini-fab aria-label="Close error message" (click)="closeErrorMessage()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                                <span>
                                    {{errorMessage}}
                                </span>
                            </div>
                        </div>
                        <form #anlyteForm="ngForm" class="analyte-form">
                            <div class="identifiers">
                                <div class="description">
                                    <span *ngIf="queryType == 'bioOnto' || queryType == 'originOnto'">
                                        Enter a list of  metabolite ID's prepended by ID source (e.g. <strong>kegg</strong>:C00412) , one per line (press Enter after each).
                                    </span>
                                    <span *ngIf="queryType == 'metaFromOnto'">
                                        Start typing the name of an ontology to see a list of options. They will be grouped by type. You can select multiple ontologies.
                                    </span>
                                    
                                </div>
                                <div class="text-input-container" *ngIf="queryType == 'metaFromOnto'; else ontoFromMeta">
                                    <div class="chip-list-container">
                                        <mat-form-field>
                                            <mat-label>Ontologies</mat-label>
                                            <mat-chip-list #ontologiesChipList aria-label="Ontologies selection">
                                                <mat-chip
                                                    *ngFor="let ontology of selectedOntologies"
                                                    [selectable]="false"
                                                    [removable]="true"
                                                    (removed)="removeOntology(ontology)">
                                                    {{ontology}}
                                                    <mat-icon matChipRemove>cancel</mat-icon>
                                                </mat-chip>
                                                <input
                                                    placeholder="Start typing to see Ontology options"
                                                    #ontologiesInput
                                                    [formControl]="ontologiesInputformControl"
                                                    [matAutocomplete]="ontologyInputAutocomplete"
                                                    [matChipInputFor]="ontologiesChipList"
                                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                    (matChipInputTokenEnd)="processAutocompleteInputEnd($event)">
                                                
                                            </mat-chip-list>
                                            <mat-autocomplete #ontologyInputAutocomplete="matAutocomplete" (optionSelected)=selectOntology($event)>
                                                <mat-optgroup *ngFor="let ontologyGroup of ontologyGroupedOptions"
                                                    [label]="ontologyGroup.group">
                                                    <mat-option *ngFor="let ontology of ontologyGroup.ontologies" [value]="ontology.Ontology">
                                                        {{ontology.Ontology}}
                                                    </mat-option>
                                                </mat-optgroup>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                        <mat-progress-bar mode="indeterminate" color="alternative" *ngIf="isLoadingOptions"></mat-progress-bar>
                                        <div class="no-options-message-container" *ngIf="isReturnNoOptions">
                                            There are no ontologies with names that contain your input.
                                        </div>
                                    </div>
                                </div>
                                <ng-template #ontoFromMeta>
                                    <div class="text-input-container">
                                        <textarea class="targetBox" placeholder="Identifiers" spellcheck="false"
                                            [(ngModel)]="identifiersInput" name="metaIdentifiersInput"></textarea>
                                    </div>
                                </ng-template>
                            </div>
                            <div class="form-options">
                                <div class="form-divider">
                                    <mat-radio-group aria-label="Select an option" [(ngModel)]="queryType"
                                        value="bioOnto" name="queryType">
                                        <mat-radio-button value="metaFromOnto">Retrieve metabolites from ontologies
                                        </mat-radio-button>
                                        <mat-radio-button value="bioOnto">Retrieve biological ontologies from
                                            metabolites
                                        </mat-radio-button>
                                        <mat-radio-button value="originOnto">Retrieve origin ontologies from metabolites
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div>
                                    <button mat-flat-button color="accent" (click)="submitQuery()"
                                        [disabled]="(!selectedOntologies || !selectedOntologies.length) && !identifiersInput">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </mat-tab>
                <mat-tab *ngIf="results" textLabel="resultsTable">
                    <ng-template mat-tab-label>
                        Results
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="error-message-container" *ngIf="errorMessage">
                            <div class="error-message">
                                <div class="close-button">
                                    <button mat-mini-fab aria-label="Close error message" (click)="closeErrorMessage()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                                <span>
                                    {{errorMessage}}
                                </span>
                            </div>
                        </div>
                        <div class="results-table-container">
                            <div class="results-message-container">
                                <span>We found <strong>{{numFoundIds}}</strong> of the
                                    <strong>{{numSubmittedIds}}</strong>&nbsp;</span>
                                <span
                                    *ngIf="queryType == 'bioOnto' || queryType == 'originOnto'">metabolites&nbsp;</span>
                                <span *ngIf="queryType == 'metaFromOnto'">ontologies&nbsp;</span>
                                <span>you submitted.</span>
                            </div>
                            <div class="accordion-container">
                                <mat-accordion>
                                    <mat-expansion-panel (opened)="detailsPanelOpen = true"
                                        (closed)="detailsPanelOpen = false">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Details
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                {{!detailsPanelOpen ? 'Click to see table details' : 'Click to collapse
                                                panel'}}
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <div>
                                            The pathways table shows the mapping from analytes to pathways.
                                        </div>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel (opened)="rFunctionPanelOpen = true"
                                        (closed)="rFunctionPanelOpen = false">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                R Package Function
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                {{!rFunctionPanelOpen ? 'Click to see the R package function' : 'Click
                                                to collapse panel'}}
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <div class="code-containder"
                                            *ngIf="queryType == 'bioOnto' || queryType == 'originOnto'">
                                            <div>RaMP::getOntoFromMeta(</div>
                                            <div class="indent">analytes = c({{identifiersParams.join(', ')}}),</div>
                                            <div class="indent">conpass = &#123;conpass&#125;,</div>
                                            <div class="indent">host = &#123;host&#125;,</div>
                                            <div class="indent">dbname = &#123;dbname&#125;,</div>
                                            <div class="indent">username = &#123;username&#125;,</div>
                                            <div class="indent">NameOrIds = 'ids' or 'names'</div>
                                            <div>)</div>
                                        </div>
                                        <div class="code-containder" *ngIf="queryType == 'metaFromOnto'">
                                            <div>RaMP::getMetaFromOnto(</div>
                                            <div class="indent">ontology = c({{identifiersParams.join(', ')}}),</div>
                                            <div class="indent">conpass = &#123;conpass&#125;,</div>
                                            <div class="indent">host = &#123;host&#125;,</div>
                                            <div class="indent">dbname = &#123;dbname&#125;,</div>
                                            <div class="indent">username = &#123;username&#125;,</div>
                                            <div class="indent">NameOrIds = 'ids' or 'names'</div>
                                            <div>)</div>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                            <div *ngIf="results && results.length">
                                <div>
                                    <mat-paginator [length]="results && results.length || 0" [pageSize]="pageSize"
                                        [pageIndex]="page" showFirstLastButtons="true" (page)="pageChange($event)"
                                        [pageSizeOptions]="[5, 10, 25, 100]">
                                    </mat-paginator>
                                </div>
                                <div class="table-container">
                                    <mat-table [dataSource]="pagedData" matSort (matSortChange)="sortData($event)">
                                        <ng-container [matColumnDef]="column.value"
                                            *ngFor="let column of columns; index as index">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                <span>
                                                    {{column.display}}
                                                </span>
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                <span>{{row[column.value]}}</span>
                                            </mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                    </mat-table>
                                </div>
                                <div>
                                    <mat-paginator [length]="results && results.length || 0" [pageSize]="pageSize"
                                        [pageIndex]="page" showFirstLastButtons="true" (page)="pageChange($event)"
                                        [pageSizeOptions]="[5, 10, 25, 100]">
                                    </mat-paginator>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>