figure {
    margin: 0;
}

.sets-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.set {
    margin: 10px 15px;
}

.plot-legend-container {
    display: flex;
}