<div class="route-container">
    <h1 class="page-title">
        Pathway Enrichment Analysis
    </h1>
    <mat-card>
        <mat-card-content>
            <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="selectedTabChange($event)">
                <mat-tab textLabel="input">
                    <ng-template mat-tab-label>
                        Input
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="error-message-container" *ngIf="errorMessage">
                            <div class="error-message">
                                <div class="close-button">
                                    <button mat-mini-fab aria-label="Close error message" (click)="closeErrorMessage()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                                <span>
                                    {{errorMessage}}
                                </span>
                            </div>
                        </div>
                        <form #anlyteForm="ngForm" class="analyte-form">
                            <div class="identifiers">
                                <div class="text-input-container">
                                    <textarea class="targetBox" placeholder="Analytes" spellcheck="false"
                                        [(ngModel)]="metabolitesInput" name="metabolitesInput" [required]="!genesInput"></textarea>
                                </div>
                            </div>
                            <div class="identifiers">
                                <div class="text-input-container">
                                    <textarea class="targetBox" placeholder="Genes" spellcheck="false"
                                        [(ngModel)]="genesInput" name="genesInput" [required]="!metabolitesInput"></textarea>
                                </div>
                            </div>
                            <div class="description-right">
                                <div class="space-bottom">
                                    Enter a list of names or IDs.
                                </div>
                                <div class="space-bottom">
                                    When entering IDs, prepend with the database of origin followed by a colon, for example <strong>kegg</strong>:C02712, <strong>hmdb</strong>:HMDB04824, etc..  It is possible to input IDs using multiple different sources.  RaMP currently supports the following id prefixes:
                                </div>
                                <table class="mat-table static-table space-bottom">
                                    <tr class="mat-header-row">
                                        <th class="mat-header-cell">Analyte Type</th>
                                        <th class="mat-header-cell">ID Prefix Types</th>
                                    </tr>
                                    <tr class="mat-row">
                                        <td class="mat-cell">Metabolites</td>
                                        <td class="mat-cell">CAS, chebi, chemspider, enzymeNomenclature, hmdb, kegg, LIPIDMAPS, pubchem</td>
                                    </tr>
                                    <tr class="mat-row">
                                        <td class="mat-cell">Genes/Proteins</td>
                                        <td class="mat-cell">ensembl, entrez, uniprot</td>
                                    </tr>
                                </table>
                                <div class="space-bottom">
                                    <button class="form-divider" mat-stroked-button (click)="insertSample('ids')">
                                        <span>
                                            &#60; Use Metabolite ID's sample list
                                        </span>
                                    </button>
                                </div>
                                <div class="space-bottom">
                                    <button class="form-divider" mat-stroked-button (click)="insertSample('names')">
                                        <span>
                                            &#60; Use Metabolite Names sample list
                                        </span>
                                    </button>
                                </div>
                                <div class="form-options-top">
                                    <button mat-flat-button color="accent" (click)="findAnalytes()"
                                        [disabled]="anlyteForm.invalid">
                                        Find analytes in database
                                    </button>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </mat-tab>
                <mat-tab *ngIf="analyteMatches" textLabel="analyteMatches">
                    <ng-template mat-tab-label>
                        Analytes
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="results-message-container" *ngIf="analyteMatches.length == 0">
                            Your query didn't yield any results.
                        </div>
                        <div class="error-message-container" *ngIf="errorMessage">
                            <div class="error-message">
                                <div class="close-button">
                                    <button mat-mini-fab aria-label="Close error message" (click)="closeErrorMessage()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                                <span>
                                    {{errorMessage}}
                                </span>
                            </div>
                        </div>
                        <div class="results-table-container" *ngIf="analyteMatches && analyteMatches.length">
                            <div class="pathways-table-top-options">
                                <form #anlyteForm="ngForm">
                                    <button mat-flat-button color="accent" (click)="mapAnalytesToPathways()"
                                        [disabled]="anlyteForm.invalid">
                                        Map analytes to pathways
                                    </button>
                                </form>
                                <div class="fill-middle"></div>
                                <mat-paginator [length]="analyteMatches && analyteMatches.length || 0"
                                    [pageSize]="pageSize" [pageIndex]="page" showFirstLastButtons="true"
                                    (page)="pageChange(analyteMatches, $event)" [pageSizeOptions]="[5, 10, 25, 100]">
                                </mat-paginator>
                            </div>
                            <div class="table-container">
                                <mat-table [dataSource]="pagedData" multiTemplateDataRows matSort
                                (matSortChange)="sortData(analyteMatches, $event)">
                                    <ng-container [matColumnDef]="column.value"
                                        *ngFor="let column of analyteMatchesColumns; index as index">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            <span>
                                                {{column.display}}
                                            </span>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <span>{{row[column.value]}}</span>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="expandedDetail">
                                        <mat-cell *matCellDef="let element"
                                            [attr.colspan]="analyteMatchesDisplayedColumns.length">
                                            <div class="example-element-detail"
                                                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                                <mat-table [dataSource]="element.analytes">
                                                    <ng-container matColumnDef="isSelected">
                                                        <mat-header-cell *matHeaderCellDef>
                                                            <span>
                                                                Selected
                                                            </span>
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let row">
                                                            <span>
                                                                <mat-checkbox [(ngModel)]="row.isSelected"></mat-checkbox>
                                                            </span>
                                                        </mat-cell>
                                                    </ng-container>
                                                    <ng-container [matColumnDef]="column.value"
                                                        *ngFor="let column of analyteColumns; index as index">
                                                        <mat-header-cell *matHeaderCellDef>
                                                            <span>
                                                                {{column.display}}
                                                            </span>
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let row">
                                                            <span>{{row[column.value]}}</span>
                                                        </mat-cell>
                                                    </ng-container>
                                                    <mat-header-row *matHeaderRowDef="analyteDisplayedColumns">
                                                    </mat-header-row>
                                                    <mat-row
                                                        *matRowDef="let row; columns: analyteDisplayedColumns;">
                                                    </mat-row>
                                                </mat-table>
                                            </div>
                                        </mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="analyteMatchesDisplayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: analyteMatchesDisplayedColumns;"
                                        [class]="{'expandable-table-row': row.numAnalytes > 1}"
                                        [class.expanded-table-row]="expandedElement === row"
                                        (click)="expandRow(row)">
                                    </mat-row>
                                    <mat-row *matRowDef="let row; columns: ['expandedDetail']"
                                        class="detail-row">
                                    </mat-row>
                                </mat-table>
                            </div>
                            <div>
                                <mat-paginator [length]="analyteMatches && analyteMatches.length || 0"
                                    [pageSize]="pageSize" [pageIndex]="page" showFirstLastButtons="true"
                                    (page)="pageChange(analyteMatches, $event)" [pageSizeOptions]="[5, 10, 25, 100]">
                                </mat-paginator>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab *ngIf="pathways" textLabel="pathways">
                    <ng-template mat-tab-label>
                        Pathways
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="results-message-container" *ngIf="pathways.length == 0">
                            Your query didn't yield any results.
                        </div>
                        <div class="error-message-container" *ngIf="errorMessage">
                            <div class="error-message">
                                <div class="close-button">
                                    <button mat-mini-fab aria-label="Close error message" (click)="closeErrorMessage()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                                <span>
                                    {{errorMessage}}
                                </span>
                            </div>
                        </div>
                        <div class="results-table-container" *ngIf="pathways && pathways.length">
                            <div class="pathways-table-top-options">
                                <form #anlyteForm="ngForm">
                                    <button mat-flat-button color="accent" (click)="runCombinedFisherTest()"
                                        [disabled]="anlyteForm.invalid">
                                        Run Combined Fisher's Test
                                    </button>
                                </form>
                                <div class="fill-middle"></div>
                                <mat-paginator [length]="pathways && pathways.length || 0" [pageSize]="pageSize"
                                    [pageIndex]="page" showFirstLastButtons="true" (page)="pageChange(pathways, $event)"
                                    [pageSizeOptions]="[5, 10, 25, 100]">
                                </mat-paginator>
                            </div>
                            <div class="table-container">
                                <mat-table [dataSource]="pagedData" matSort
                                    (matSortChange)="sortData(pathways, $event)">
                                    <ng-container [matColumnDef]="column.value"
                                        *ngFor="let column of pathwayColumns; index as index">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            <span>
                                                {{column.display}}
                                            </span>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <span>{{row[column.value]}}</span>
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="pathwayDisplayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: pathwayDisplayedColumns;"></mat-row>
                                </mat-table>
                            </div>
                            <div>
                                <mat-paginator [length]="pathways && pathways.length || 0" [pageSize]="pageSize"
                                    [pageIndex]="page" showFirstLastButtons="true" (page)="pageChange(pathways, $event)"
                                    [pageSizeOptions]="[5, 10, 25, 100]">
                                </mat-paginator>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab *ngIf="fisherTestResults" textLabel="fisherTestResults">
                    <ng-template mat-tab-label>
                        Fisher's Test
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="flex-column">
                            <div class="results-message-container" *ngIf="fisherTestResults.length == 0">
                                Your query didn't yield any results.
                            </div>
                            <div class="error-message-container" *ngIf="errorMessage">
                                <div class="error-message">
                                    <div class="close-button">
                                        <button mat-mini-fab aria-label="Close error message" (click)="closeErrorMessage()">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </div>
                                    <span>
                                        {{errorMessage}}
                                    </span>
                                </div>
                            </div>
                            <div class="results-table-container" *ngIf="fisherTestResults && fisherTestResults.length">
                                <div class="pathways-table-top-options">
                                    <form #anlyteForm="ngForm" class="flex-row">
                                        <div class="space-right">
                                            <button mat-flat-button color="accent" (click)="filterFisherTestResults()"
                                                [disabled]="anlyteForm.invalid">Filter Fisher's Test Results</button>
                                        </div>
                                        <mat-form-field class="space-right number-input">
                                            <mat-label>Holm adjustment cutoff</mat-label>
                                            <input type="number" matInput [(ngModel)]="pHolmAdjCutoffInput" required
                                                name="pHolmAdjCutoffInput">
                                            <mat-hint>(0 - 1)</mat-hint>
                                        </mat-form-field>
                                        <mat-form-field class="number-input">
                                            <mat-label>fdr adjustment cutoff</mat-label>
                                            <input type="number" matInput [(ngModel)]="pfdrAdjCutoffInput"
                                                name="pfdrAdjCutoffInput">
                                            <mat-hint>(0 - 1)</mat-hint>
                                        </mat-form-field>
                                    </form>
                                    <div class="fill-middle"></div>
                                    <mat-paginator [length]="fisherTestResults && fisherTestResults.length || 0"
                                        [pageSize]="pageSize" [pageIndex]="page" showFirstLastButtons="true"
                                        (page)="pageChange(fisherTestResults, $event)"
                                        [pageSizeOptions]="[5, 10, 25, 100]">
                                    </mat-paginator>
                                </div>
                                <div class="table-container">
                                    <mat-table [dataSource]="pagedData" matSort
                                        (matSortChange)="sortData(fisherTestResults, $event)">
                                        <ng-container [matColumnDef]="column.value"
                                            *ngFor="let column of fisherTestColumns; index as index">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                <span>
                                                    {{column.display}}
                                                </span>
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                <span>{{row[column.value]}}</span>
                                            </mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="fisherTestDisplayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: fisherTestDisplayedColumns;"></mat-row>
                                    </mat-table>
                                </div>
                                <div>
                                    <mat-paginator [length]="pathways && pathways.length || 0" [pageSize]="pageSize"
                                        [pageIndex]="page" showFirstLastButtons="true"
                                        (page)="pageChange(fisherTestResults, $event)"
                                        [pageSizeOptions]="[5, 10, 25, 100]">
                                    </mat-paginator>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab *ngIf="filteredFisherTestResults" textLabel="filteredFisherTestResults">
                    <ng-template mat-tab-label>
                        Filtered Fisher's Test
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="flex-column">
                            <div class="results-message-container" *ngIf="filteredFisherTestResults.length == 0">
                                Your query didn't yield any results.
                            </div>
                            <div class="error-message-container" *ngIf="errorMessage">
                                <div class="error-message">
                                    <div class="close-button">
                                        <button mat-mini-fab aria-label="Close error message" (click)="closeErrorMessage()">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </div>
                                    <span>
                                        {{errorMessage}}
                                    </span>
                                </div>
                            </div>
                            <div class="results-table-container"
                                *ngIf="filteredFisherTestResults && filteredFisherTestResults.length">
                                <div class="pathways-table-top-options">
                                    <form #anlyteForm="ngForm" class="flex-row">
                                        <div class="space-right">
                                            <button mat-flat-button color="accent"
                                                (click)="clusterFilteredFisherResults()"
                                                [disabled]="anlyteForm.invalid">Cluster Fisher's Test Results</button>
                                        </div>
                                        <mat-form-field class="space-right number-input">
                                            <mat-label>% analyte overlap</mat-label>
                                            <input type="number" matInput [(ngModel)]="percAnalyteOverlap" required
                                                name="percAnalyteOverlap">
                                            <mat-hint>(1 - 100)</mat-hint>
                                        </mat-form-field>
                                        <mat-form-field class="space-right number-input">
                                            <mat-label>% pathway overlap</mat-label>
                                            <input type="number" matInput [(ngModel)]="percPathwayOverlap" required
                                                name="percAnalyteOverlap">
                                            <mat-hint>(1 - 100)</mat-hint>
                                        </mat-form-field>
                                        <mat-form-field class="number-input">
                                            <mat-label>Min pathway to cluster</mat-label>
                                            <input type="number" matInput [(ngModel)]="minPathwayTocluster" required
                                                name="minPathwayTocluster">
                                        </mat-form-field>
                                    </form>
                                    <div class="fill-middle"></div>
                                    <mat-paginator
                                        [length]="filteredFisherTestResults && filteredFisherTestResults.length || 0"
                                        [pageSize]="pageSize" [pageIndex]="page" showFirstLastButtons="true"
                                        (page)="pageChange(filteredFisherTestResults, $event)"
                                        [pageSizeOptions]="[5, 10, 25, 100]">
                                    </mat-paginator>
                                </div>
                                <div class="table-container">
                                    <mat-table [dataSource]="pagedData" matSort
                                        (matSortChange)="sortData(filteredFisherTestResults, $event)">
                                        <ng-container [matColumnDef]="column.value"
                                            *ngFor="let column of fisherTestColumns; index as index">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                <span>
                                                    {{column.display}}
                                                </span>
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                <span>{{row[column.value]}}</span>
                                            </mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="fisherTestDisplayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: fisherTestDisplayedColumns;"></mat-row>
                                    </mat-table>
                                </div>
                                <div>
                                    <mat-paginator [length]="pathways && pathways.length || 0" [pageSize]="pageSize"
                                        [pageIndex]="page" showFirstLastButtons="true"
                                        (page)="pageChange(filteredFisherTestResults, $event)"
                                        [pageSizeOptions]="[5, 10, 25, 100]">
                                    </mat-paginator>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab *ngIf="clusteringResults" textLabel="clusteringResults">
                    <ng-template mat-tab-label>
                        Clustering Table
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="results-message-container" *ngIf="clusteringResults.length == 0">
                            Your query didn't yield any results.
                        </div>
                        <div class="error-message-container" *ngIf="errorMessage">
                            <div class="error-message">
                                <div class="close-button">
                                    <button mat-mini-fab aria-label="Close error message" (click)="closeErrorMessage()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                                <span>
                                    {{errorMessage}}
                                </span>
                            </div>
                        </div>
                        <div class="results-table-container" *ngIf="clusteringResults && clusteringResults.length">
                            <div>
                                <mat-paginator [length]="clusteringResults && clusteringResults.length || 0"
                                    [pageSize]="pageSize" [pageIndex]="page" showFirstLastButtons="true"
                                    (page)="pageChange(clusteringResults, $event)" [pageSizeOptions]="[5, 10, 25, 100]">
                                </mat-paginator>
                            </div>
                            <div class="table-container">
                                <mat-table [dataSource]="pagedData" matSort
                                    (matSortChange)="sortData(clusteringResults, $event)">
                                    <ng-container [matColumnDef]="column.value"
                                        *ngFor="let column of clusteringColumns; index as index">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            <span>
                                                {{column.display}}
                                            </span>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <span>{{row[column.value]}}</span>
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="clusteringDisplayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: clusteringDisplayedColumns;"></mat-row>
                                </mat-table>
                            </div>
                            <div>
                                <mat-paginator [length]="clusteringResults && clusteringResults.length || 0"
                                    [pageSize]="pageSize" [pageIndex]="page" showFirstLastButtons="true"
                                    (page)="pageChange(clusteringResults, $event)" [pageSizeOptions]="[5, 10, 25, 100]">
                                </mat-paginator>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab *ngIf="showPlots">
                    <ng-template mat-tab-label>
                        Plots
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="visualization-container">
                            <div *ngIf="analytes">
                                <div>
                                    <ramp-upset [data]="analytes" (upSetBarClicked)="upSetBarClicked($event)" title="Overlap of Pathways" nameKey="commonName"
                                        valuesKey="pathways" showSetsSelection="true">
                                    </ramp-upset>
                                </div>
                            </div>
                            <div *ngIf="clusteringResults">
                                <mat-divider></mat-divider>
                                <div>
                                    <ramp-bar [data]="clusteringResults" (barClicked)="barClicked($event)" title="Pathway Clusters" xKey="cluster_assignment"
                                        yKey="negativeLogPVal" yLabel="mean -log(p-value)" xLabel="Cluster"
                                        calculation="average">
                                    </ramp-bar>
                                </div>
                            </div>
                            <div *ngIf="clusterCoordinates">
                                <mat-divider></mat-divider>
                                <div>
                                    <ramp-scatter [data]="clusterCoordinates" title="Pathways Jaccard Distance Clusters"
                                        xKey="x" yKey="y" clustersKey="cluster_assignment" tooltipKey="pathwayName">
                                    </ramp-scatter>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>