
@use '@angular/material' as mat;
@import 'libs/shared/ui/header-template/src/theming';
@import 'libs/styles/src/styles/ncats-theme';

@include header-theme($app-theme);

html,
app-root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
  color: mat.get-color-from-palette($app-accent);
  font-weight: bold;
}

.ramp-list {
  list-style: none;
}

.full-width {
  width: 95%;
}

.width-25 {
  width:25%;
  flex-basis: 25%;
}

.content-panel {
  margin-top: 10vh;
  padding-bottom: 5vh;
}

.code-block {
  white-space: break-spaces;
  background: #454545;
  color: #ffffff;
  border: solid 1px;
  border-radius: 5px;
  padding: 10px;
  max-width: 100%;
}

.centered {
  display: flex;
  align-items: center;
  align-content: center;
}

.row {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  padding-top: 2vh;
}

.centered-row {
  align-content: center;
  align-items: center;
  justify-content: center;
}

.ramp-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.ramp-menu-button {
  padding: 16px !important;
}

.ramp-feedback-card {
  padding: 16px;
}
