@use '@angular/material' as mat;
@use '_utils' as utils;
@import 'ncats-theme';

html,
body {
  height: 100%;
  margin: 0 !important;
  font-family:
    Roboto,
    Helvetica Neue Light,
    Helvetica Neue,
    Helvetica,
    Arial,
    Lucida Grande,
    sans-serif;
}

a {
  color: mat.get-color-from-palette($app-accent);
  font-weight: bold;
}

.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.mat-drawer-content {
  overflow: visible !important;
}

.full-width {
  width: 95%;
}

.ramp-list {
  list-style: none;
}

.content-panel {
  margin-top: 10vh;
  padding-bottom: 5vh;
}

.code-block {
  white-space: break-spaces;
  background: #454545;
  color: #ffffff;
  border: solid 1px;
  border-radius: 5px;
  padding: 10px;
  max-width: 100%;
}

.ramp-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.ramp-menu-button {
  padding: 16px !important;
}

.ramp-feedback-card {
  padding: 16px;
}

.active-sidemenu {
  border-left: 8px solid mat.get-color-from-palette($app-accent);
}

.primary-color-font {
  color: mat.get-color-from-palette($app-primary);
}

.accent-color-font {
  color: mat.get-color-from-palette($app-accent);
}

.toolbar-template {
  background-color: mat.get-color-from-palette($app-accent) !important;
  z-index: 666;
  color: #ffffff;
}

.footer-template {
  background-color: mat.get-color-from-palette($app-accent);
  color: #ffffff;
}

.ramp-tile {
  border: 1px solid;
  border-color: mat.get-color-from-palette($app-accent) !important;
  padding: 0;
}

.ramp-card-header {
  background-color: mat.get-color-from-palette($app-accent);
  color: #ffffff;
  padding: 20px;
}

.centered {
  display: flex;
  align-items: center;
  align-content: center;
}

.row {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  padding-top: 1vh;
}

.centered-row {
  align-content: center;
  align-items: center;
  justify-content: center;
}

.right-justified-row {
  align-content: center;
  align-items: center;
  justify-content: flex-end;
}

.space-around-row {
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.space-between-row {
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.top-align {
  align-items: start;
  align-content: start;
}

.bottom-align {
  align-items: end;
  align-content: end;
}

.right-text {
  text-align: end;
}

.no-padding {
  padding: 0;
}

@include utils.width-sm(50);
@include utils.width-sm(90);
@include utils.width-sm(95);
@include utils.width-sm(100);

@include utils.width-md(80);
@include utils.width-md(90);
@include utils.width-sm(75);
@include utils.width-md(100);

@include utils.width(95);
@include utils.width(90);
@include utils.width(80);
@include utils.width(75);
@include utils.width(70);
@include utils.width(66);
@include utils.width(60);
@include utils.width(55);
@include utils.width(50);
@include utils.width(45);
@include utils.width(40);
@include utils.width(33);
@include utils.width(30);
@include utils.width(25);
@include utils.width(20);
@include utils.width(10);
@include utils.width(5);
@include utils.horizontalpadding(2vw);
@include utils.text-align(center);
@include utils.text-align(left);
@include utils.text-align(right);

.fill-container {
  width: 100%;
}

.navigation-menu-panel {
  width: 25%;
  position: fixed !important;
  top: calc(60px + 17vh) !important;
}

.banner-title {
  font-size: 1.5rem;
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  .navigation-menu-panel {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .navigation-menu-panel {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .grid-list {
    grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
  }

  .width-50 {
    width: 75vw;
    flex-basis: 75vw;
  }
}

@media only screen and (max-width: 1024px) {
  .width-50 {
    width: 75vw;
    flex-basis: 75vw;
  }
}

@media only screen and (max-width: 960px) {
  .width-50 {
    width: 90vw;
    flex-basis: 90vw;
  }

  .hide-small {
    display: none;
  }
}
