figure {
    margin: 0;
}

.plot-legend-container {
    display: flex;
}

.legend {
    flex-grow: 1;
    margin-left: 15px;
}

.legend-item {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
}

.legend-item-color {
    border-radius: 50%;
    margin-right: 10px;
    height: 8px;
    min-height: 8px;
    width: 8px;
    min-width: 8px;
}