.content-container {
    display: flex;
    flex-grow: 1;
}

.mat-card {
    width: auto;
    max-width: 100%;
    flex-grow: 1;
}

.mat-card-content {
    height: 100%;
}

.mat-tab-group {
    height: 100%;
}

::ng-deep .mat-tab-body-wrapper {
    padding-top: 15px;
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
}

::ng-deep .mat-tab-body-content {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.analyte-form {
    display: flex;
}

.identifiers {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.text-input-container {
    flex-grow: 1;
    display: flex;
}

.description {
    margin-bottom: 10px;
}

.form-options {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-top: 50px;
}

.form-option-inputs {
    display: flex;
    flex-direction: column;
}

.form-divider {
    margin-bottom: 25px;
}

.number-input {
    width: 175px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.results-table-container {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    
}

.table-container {
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

.analyte-form {
    display: flex;
}

textarea {
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(146, 163, 172);
    font-size: 16px;
    width: 100%;
}

.results-message-container {
    font-size: 1.2em;
}

.error-message-container {
    order: 2;
    flex-grow: 1;
    padding: 15px;
}

.error-message {
    color: #B71C1C;
    border: 1px solid #B71C1C;
    border-radius: 2px;
    font-size: 1.2em;
    padding: 10px;
    height: auto;
}

.visualization-container {
    display: flex;
    flex-direction: column;
}

.mat-card .mat-divider-horizontal {
    position: unset;
    margin-top: 10px;
    margin-bottom: 20px;
}

@media(max-width: 1200px) {
    ::ng-deep .mat-tab-body-content {
        flex-direction: column;
    }

    .error-message-container {
        order: 0;
        padding: 0 0 10px 0;
        flex-grow: 0;
    }

    .analyte-form {
        flex-grow: 1;
    }

    .error-message {
        font-size: 1;
    }

}

@media(max-width: 704px) {

    .analyte-form {
        flex-direction: column;
    }

    .identifiers {
        width: 100%;
        flex-grow: 1;
    }

    textarea {
        min-height: 300px;
    }

    .form-options {
        flex-grow: 0;
        padding-left: 0;
        padding-top: 15px;
    }
    
    .form-option-inputs {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .form-divider {
        margin-right: 15px;
    }

    .mat-card {
        margin-bottom: 15px;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    .mat-table {
        min-width: 650px;
    }
}