<div class="route-container">
    <h1 class="page-title">
        Pathway Enrichment Analysis
    </h1>
    <mat-card>
        <mat-card-content>
            <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="selectedTabChange($event)">
                <mat-tab textLabel="input">
                    <ng-template mat-tab-label>
                        Input
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="error-message-container">
                            <div class="error-message" *ngIf="errorMessage">
                                {{errorMessage}}
                            </div>
                        </div>
                        <form #anlyteForm="ngForm" class="analyte-form">
                            <div class="identifiers">
                                <div class="description">
                                    Enter a list of identifiers (known Id's or names), one per line (press Enter
                                    after each).
                                </div>
                                <div class="text-input-container">
                                    <textarea class="targetBox" placeholder="Analytes" spellcheck="false"
                                        [(ngModel)]="analytesInput" name="analytesInput" required></textarea>
                                </div>
                            </div>
                            <div class="form-options">
                                <div>
                                    <button mat-flat-button color="accent" (click)="findAnalytes()"
                                        [disabled]="anlyteForm.invalid">
                                        Find analytes in database
                                    </button>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </mat-tab>
                <mat-tab *ngIf="analyteMatches" textLabel="analyteMatches">
                    <ng-template mat-tab-label>
                        Analytes
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="results-message-container" *ngIf="analyteMatches.length == 0">
                            Your query didn't yield any results.
                        </div>
                        <div class="results-table-container" *ngIf="analyteMatches && analyteMatches.length">
                            <div class="pathways-table-top-options">
                                <form #anlyteForm="ngForm">
                                    <button mat-flat-button color="accent" (click)="mapAnalytesToPathways()"
                                        [disabled]="anlyteForm.invalid">
                                        Map selected analytes to pathways
                                    </button>
                                </form>
                                <div class="fill-middle"></div>
                                <mat-paginator [length]="analyteMatches && analyteMatches.length || 0"
                                    [pageSize]="pageSize" [pageIndex]="page" showFirstLastButtons="true"
                                    (page)="pageChange(analyteMatches, $event)" [pageSizeOptions]="[5, 10, 25, 100]">
                                </mat-paginator>
                            </div>
                            <div class="error-message-container">
                                <div class="error-message" *ngIf="errorMessage">
                                    {{errorMessage}}
                                </div>
                            </div>
                            <div class="table-container">
                                <mat-table [dataSource]="pagedData" multiTemplateDataRows matSort
                                (matSortChange)="sortData(analyteMatches, $event)">
                                    <ng-container [matColumnDef]="column.value"
                                        *ngFor="let column of analyteMatchesColumns; index as index">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            <span>
                                                {{column.display}}
                                            </span>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <span>{{row[column.value]}}</span>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="expandedDetail">
                                        <mat-cell *matCellDef="let element"
                                            [attr.colspan]="analyteMatchesDisplayedColumns.length">
                                            <div class="example-element-detail"
                                                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                                <mat-table [dataSource]="element.analytes">
                                                    <ng-container matColumnDef="isSelected">
                                                        <mat-header-cell *matHeaderCellDef>
                                                            <span>
                                                                Selected
                                                            </span>
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let row">
                                                            <span>
                                                                <mat-checkbox [(ngModel)]="row.isSelected"></mat-checkbox>
                                                            </span>
                                                        </mat-cell>
                                                    </ng-container>
                                                    <ng-container [matColumnDef]="column.value"
                                                        *ngFor="let column of analyteColumns; index as index">
                                                        <mat-header-cell *matHeaderCellDef>
                                                            <span>
                                                                {{column.display}}
                                                            </span>
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let row">
                                                            <span>{{row[column.value]}}</span>
                                                        </mat-cell>
                                                    </ng-container>
                                                    <mat-header-row *matHeaderRowDef="analyteDisplayedColumns">
                                                    </mat-header-row>
                                                    <mat-row
                                                        *matRowDef="let row; columns: analyteDisplayedColumns;">
                                                    </mat-row>
                                                </mat-table>
                                            </div>
                                        </mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="analyteMatchesDisplayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: analyteMatchesDisplayedColumns;"
                                        class="example-element-row"
                                        [class.example-expanded-row]="expandedElement === row"
                                        (click)="expandedElement = expandedElement === row ? null : row">
                                    </mat-row>
                                    <mat-row *matRowDef="let row; columns: ['expandedDetail']"
                                        class="detail-row">
                                    </mat-row>
                                </mat-table>
                            </div>
                            <div>
                                <mat-paginator [length]="analyteMatches && analyteMatches.length || 0"
                                    [pageSize]="pageSize" [pageIndex]="page" showFirstLastButtons="true"
                                    (page)="pageChange(analyteMatches, $event)" [pageSizeOptions]="[5, 10, 25, 100]">
                                </mat-paginator>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab *ngIf="pathways" textLabel="pathways">
                    <ng-template mat-tab-label>
                        Pathways
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="results-message-container" *ngIf="pathways.length == 0">
                            Your query didn't yield any results.
                        </div>
                        <div class="results-table-container" *ngIf="pathways && pathways.length">
                            <div class="pathways-table-top-options">
                                <form #anlyteForm="ngForm">
                                    <button mat-flat-button color="accent" (click)="runCombinedFisherTest()"
                                        [disabled]="anlyteForm.invalid">
                                        Run Combined Fisher's Test
                                    </button>
                                </form>
                                <div class="fill-middle"></div>
                                <mat-paginator [length]="pathways && pathways.length || 0" [pageSize]="pageSize"
                                    [pageIndex]="page" showFirstLastButtons="true" (page)="pageChange(pathways, $event)"
                                    [pageSizeOptions]="[5, 10, 25, 100]">
                                </mat-paginator>
                            </div>
                            <div class="error-message-container">
                                <div class="error-message" *ngIf="errorMessage">
                                    {{errorMessage}}
                                </div>
                            </div>
                            <div class="table-container">
                                <mat-table [dataSource]="pagedData" matSort
                                    (matSortChange)="sortData(pathways, $event)">
                                    <ng-container [matColumnDef]="column.value"
                                        *ngFor="let column of pathwayColumns; index as index">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            <span>
                                                {{column.display}}
                                            </span>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <span>{{row[column.value]}}</span>
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="pathwayDisplayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: pathwayDisplayedColumns;"></mat-row>
                                </mat-table>
                            </div>
                            <div>
                                <mat-paginator [length]="pathways && pathways.length || 0" [pageSize]="pageSize"
                                    [pageIndex]="page" showFirstLastButtons="true" (page)="pageChange(pathways, $event)"
                                    [pageSizeOptions]="[5, 10, 25, 100]">
                                </mat-paginator>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab *ngIf="fisherTestResults" textLabel="fisherTestResults">
                    <ng-template mat-tab-label>
                        Fisher's Test
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="flex-column">
                            <div class="results-message-container" *ngIf="fisherTestResults.length == 0">
                                Your query didn't yield any results.
                            </div>
                            <div class="results-table-container" *ngIf="fisherTestResults && fisherTestResults.length">
                                <div class="pathways-table-top-options">
                                    <form #anlyteForm="ngForm" class="flex-row">
                                        <div class="form-divider">
                                            <button mat-flat-button color="accent" (click)="filterFisherTestResults()"
                                                [disabled]="anlyteForm.invalid">Filter Fisher's Test Results</button>
                                        </div>
                                        <mat-form-field class="form-divider number-input">
                                            <mat-label>Holm adjustment cutoff</mat-label>
                                            <input type="number" matInput [(ngModel)]="pHolmAdjCutoffInput" required
                                                name="pHolmAdjCutoffInput">
                                            <mat-hint>(0 - 1)</mat-hint>
                                        </mat-form-field>
                                        <mat-form-field class="form-divider number-input">
                                            <mat-label>fdr adjustment cutoff</mat-label>
                                            <input type="number" matInput [(ngModel)]="pfdrAdjCutoffInput"
                                                name="pfdrAdjCutoffInput">
                                            <mat-hint>(0 - 1)</mat-hint>
                                        </mat-form-field>
                                    </form>
                                    <div class="fill-middle"></div>
                                    <mat-paginator [length]="fisherTestResults && fisherTestResults.length || 0"
                                        [pageSize]="pageSize" [pageIndex]="page" showFirstLastButtons="true"
                                        (page)="pageChange(fisherTestResults, $event)"
                                        [pageSizeOptions]="[5, 10, 25, 100]">
                                    </mat-paginator>
                                </div>
                                <div class="error-message-container">
                                    <div class="error-message" *ngIf="errorMessage">
                                        {{errorMessage}}
                                    </div>
                                </div>
                                <div class="table-container">
                                    <mat-table [dataSource]="pagedData" matSort
                                        (matSortChange)="sortData(fisherTestResults, $event)">
                                        <ng-container [matColumnDef]="column.value"
                                            *ngFor="let column of fisherTestColumns; index as index">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                <span>
                                                    {{column.display}}
                                                </span>
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                <span>{{row[column.value]}}</span>
                                            </mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="fisherTestDisplayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: fisherTestDisplayedColumns;"></mat-row>
                                    </mat-table>
                                </div>
                                <div>
                                    <mat-paginator [length]="pathways && pathways.length || 0" [pageSize]="pageSize"
                                        [pageIndex]="page" showFirstLastButtons="true"
                                        (page)="pageChange(fisherTestResults, $event)"
                                        [pageSizeOptions]="[5, 10, 25, 100]">
                                    </mat-paginator>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab *ngIf="filteredFisherTestResults" textLabel="filteredFisherTestResults">
                    <ng-template mat-tab-label>
                        Filtered Fisher's Test
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="flex-column">
                            <div class="results-message-container" *ngIf="filteredFisherTestResults.length == 0">
                                Your query didn't yield any results.
                            </div>
                            <div class="results-table-container"
                                *ngIf="filteredFisherTestResults && filteredFisherTestResults.length">
                                <div class="pathways-table-top-options">
                                    <form #anlyteForm="ngForm" class="flex-row">
                                        <div class="form-divider">
                                            <button mat-flat-button color="accent"
                                                (click)="clusterFilteredFisherResults()"
                                                [disabled]="anlyteForm.invalid">Cluster Fisher's Test Results</button>
                                        </div>
                                        <mat-form-field class="form-divider number-input">
                                            <mat-label>% analyte overlap</mat-label>
                                            <input type="number" matInput [(ngModel)]="percAnalyteOverlap" required
                                                name="percAnalyteOverlap">
                                            <mat-hint>(1 - 100)</mat-hint>
                                        </mat-form-field>
                                        <mat-form-field class="form-divider number-input">
                                            <mat-label>% pathway overlap</mat-label>
                                            <input type="number" matInput [(ngModel)]="percPathwayOverlap" required
                                                name="percAnalyteOverlap">
                                            <mat-hint>(1 - 100)</mat-hint>
                                        </mat-form-field>
                                        <mat-form-field class="form-divider number-input">
                                            <mat-label>Min pathway to cluster</mat-label>
                                            <input type="number" matInput [(ngModel)]="minPathwayTocluster" required
                                                name="minPathwayTocluster">
                                        </mat-form-field>
                                    </form>
                                    <div class="fill-middle"></div>
                                    <mat-paginator
                                        [length]="filteredFisherTestResults && filteredFisherTestResults.length || 0"
                                        [pageSize]="pageSize" [pageIndex]="page" showFirstLastButtons="true"
                                        (page)="pageChange(filteredFisherTestResults, $event)"
                                        [pageSizeOptions]="[5, 10, 25, 100]">
                                    </mat-paginator>
                                </div>
                                <div class="error-message-container">
                                    <div class="error-message" *ngIf="errorMessage">
                                        {{errorMessage}}
                                    </div>
                                </div>
                                <div class="table-container">
                                    <mat-table [dataSource]="pagedData" matSort
                                        (matSortChange)="sortData(filteredFisherTestResults, $event)">
                                        <ng-container [matColumnDef]="column.value"
                                            *ngFor="let column of fisherTestColumns; index as index">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                <span>
                                                    {{column.display}}
                                                </span>
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                <span>{{row[column.value]}}</span>
                                            </mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="fisherTestDisplayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: fisherTestDisplayedColumns;"></mat-row>
                                    </mat-table>
                                </div>
                                <div>
                                    <mat-paginator [length]="pathways && pathways.length || 0" [pageSize]="pageSize"
                                        [pageIndex]="page" showFirstLastButtons="true"
                                        (page)="pageChange(filteredFisherTestResults, $event)"
                                        [pageSizeOptions]="[5, 10, 25, 100]">
                                    </mat-paginator>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab *ngIf="clusteringResults" textLabel="clusteringResults">
                    <ng-template mat-tab-label>
                        Clustering Table
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="results-message-container" *ngIf="clusteringResults.length == 0">
                            Your query didn't yield any results.
                        </div>
                        <div class="results-table-container" *ngIf="clusteringResults && clusteringResults.length">
                            <div>
                                <mat-paginator [length]="clusteringResults && clusteringResults.length || 0"
                                    [pageSize]="pageSize" [pageIndex]="page" showFirstLastButtons="true"
                                    (page)="pageChange(clusteringResults, $event)" [pageSizeOptions]="[5, 10, 25, 100]">
                                </mat-paginator>
                            </div>
                            <div class="table-container">
                                <mat-table [dataSource]="pagedData" matSort
                                    (matSortChange)="sortData(clusteringResults, $event)">
                                    <ng-container [matColumnDef]="column.value"
                                        *ngFor="let column of clusteringColumns; index as index">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            <span>
                                                {{column.display}}
                                            </span>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <span>{{row[column.value]}}</span>
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="clusteringDisplayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: clusteringDisplayedColumns;"></mat-row>
                                </mat-table>
                            </div>
                            <div>
                                <mat-paginator [length]="clusteringResults && clusteringResults.length || 0"
                                    [pageSize]="pageSize" [pageIndex]="page" showFirstLastButtons="true"
                                    (page)="pageChange(clusteringResults, $event)" [pageSizeOptions]="[5, 10, 25, 100]">
                                </mat-paginator>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab *ngIf="showPlots">
                    <ng-template mat-tab-label>
                        Plots
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="visualization-container">
                            <div *ngIf="clusteringResults">
                                <ramp-bar [data]="clusteringResults" title="Pathway Clusters" xKey="cluster_assignment"
                                    yKey="negativeLogPVal" yLabel="mean -log(p-value)" xLabel="Cluster"
                                    calculation="average">
                                </ramp-bar>
                            </div>
                            <div *ngIf="clusterCoordinates">
                                <mat-divider></mat-divider>
                                <div>
                                    <ramp-scatter [data]="clusterCoordinates" title="Pathways Jaccard Distance Clusters"
                                        xKey="x" yKey="y" clustersKey="cluster_assignment">
                                    </ramp-scatter>
                                </div>
                            </div>
                            <div *ngIf="analytes">
                                <mat-divider></mat-divider>
                                <div>
                                    <ramp-upset [data]="analytes" title="Overlap of Pathways" nameKey="commonName"
                                        valuesKey="pathways" showSetsSelection="true">
                                    </ramp-upset>
                                </div>
                            </div>

                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>