<div class="route-container">
    <h1 class="page-title">
        Pathway from Analytes
    </h1>
    <mat-card>
        <mat-card-content>
            <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="selectedTabChange($event)">
                <mat-tab textLabel="input">
                    <ng-template mat-tab-label>
                        Input Analytes
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="error-message-container" *ngIf="errorMessage">
                            <div class="error-message">
                                <div class="close-button">
                                    <button mat-mini-fab aria-label="Close error message" (click)="closeErrorMessage()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                                <span>
                                    {{errorMessage}}
                                </span>
                            </div>
                        </div>
                        <form #anlyteForm="ngForm" class="analyte-form">
                            <div class="identifiers">
                                <div class="text-input-container">
                                    <textarea class="targetBox" placeholder="List of Analyte IDs or names" spellcheck="false"
                                        [(ngModel)]="analytesInput" name="analytesInput"
                                        [required]="true"></textarea>
                                </div>
                            </div>
                            <div class="description-right">
                                <div class="space-bottom">
                                    Enter a list of analyte (metabolites, genes) names or IDs so the application can try to match them
                                    against our database. We recommend inputting a list of IDs because analytes can have many synomyns, leading to 
                                    potential errors in mapping. If names are used, mappings should be verified.
                                </div>
                                <div class="space-bottom">
                                    When entering IDs, prepend with the database of origin followed by a colon, for
                                    example <strong>kegg</strong>:C02712, <strong>hmdb</strong>:HMDB04824, etc.. It is
                                    possible to input IDs using multiple different sources. RaMP currently supports the
                                    following id prefixes:
                                </div>
                                <mat-table [dataSource]="idTypes" class="space-bottom">
                                    <ng-container [matColumnDef]="column.value"
                                        *ngFor="let column of idTypeColumns; index as index">
                                        <mat-header-cell *matHeaderCellDef>
                                            <span>
                                                {{column.display}}
                                            </span>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <span>{{row[column.value]}}</span>
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="idTypeDisplayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: idTypeDisplayedColumns;"></mat-row>
                                </mat-table>
                                <div class="space-bottom">
                                    <button mat-flat-button color="accent" (click)="findAnalytes()"
                                        [disabled]="anlyteForm.invalid">
                                        Find analytes in database
                                    </button>
                                </div>
                                <div class="space-bottom">
                                    <button class="form-divider" mat-stroked-button
                                        (click)="insertSample()">
                                        <span>
                                            &#60; Example of Analytes
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </mat-tab>
                <mat-tab *ngIf="analyteMatches" textLabel="analyteMatches">
                    <ng-template mat-tab-label>
                        Analytes Mapped in RaMP
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="results-message-container" *ngIf="analyteMatches.length == 0">
                            Your query didn't yield any results.
                        </div>
                        <div class="error-message-container" *ngIf="errorMessage">
                            <div class="error-message">
                                <div class="close-button">
                                    <button mat-mini-fab aria-label="Close error message" (click)="closeErrorMessage()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                                <span>
                                    {{errorMessage}}
                                </span>
                            </div>
                        </div>
                        <div class="results-table-container" *ngIf="analyteMatches && analyteMatches.length">
                            <div class="accordion-container">
                                <mat-accordion>
                                    <mat-expansion-panel (opened)="detailsPanelOpen = true" (closed)="detailsPanelOpen = false">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Details
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                {{!detailsPanelOpen ? 'Click to see table details' : 'Click to collapse panel'}}
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <div>
                                            The analytes table contains the genes and/or metabolites in the RaMP database that matched your input list. If more than one analyte matched a single entry, the <i># Analytes Found</i> column will have a value that's > 1 and you will have to click on the row to confirm that the right analyte is selected for the pathway analysis.
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                            <div class="pathways-table-top-options">
                                <form #anlyteForm="ngForm">
                                    <button mat-flat-button color="accent" (click)="mapAnalytesToPathways()"
                                        [disabled]="anlyteForm.invalid">
                                        Map analytes to pathways
                                    </button>
                                </form>
                                <div class="fill-middle"></div>
                                <mat-paginator [length]="analyteMatches && analyteMatches.length || 0"
                                    [pageSize]="pageSize" [pageIndex]="page" showFirstLastButtons="true"
                                    (page)="pageChange(analyteMatches, $event)" [pageSizeOptions]="[5, 10, 25, 100]">
                                </mat-paginator>
                            </div>
                            <div class="table-container">
                                <mat-table [dataSource]="pagedData" multiTemplateDataRows matSort
                                (matSortChange)="sortData(analyteMatches, $event)">
                                    <ng-container [matColumnDef]="column.value"
                                        *ngFor="let column of analyteMatchesColumns; index as index">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            <span>
                                                {{column.display}}
                                            </span>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <span>{{row[column.value]}}</span>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="expandedDetail">
                                        <mat-cell *matCellDef="let element"
                                            [attr.colspan]="analyteMatchesDisplayedColumns.length">
                                            <div class="example-element-detail"
                                                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                                <mat-table [dataSource]="element.analytes">
                                                    <ng-container matColumnDef="isSelected">
                                                        <mat-header-cell *matHeaderCellDef>
                                                            <span>
                                                                Selected
                                                            </span>
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let row">
                                                            <span>
                                                                <mat-checkbox [(ngModel)]="row.isSelected"></mat-checkbox>
                                                            </span>
                                                        </mat-cell>
                                                    </ng-container>
                                                    <ng-container [matColumnDef]="column.value"
                                                        *ngFor="let column of analyteColumns; index as index">
                                                        <mat-header-cell *matHeaderCellDef>
                                                            <span>
                                                                {{column.display}}
                                                            </span>
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let row">
                                                            <span>{{row[column.value]}}</span>
                                                        </mat-cell>
                                                    </ng-container>
                                                    <mat-header-row *matHeaderRowDef="analyteDisplayedColumns">
                                                    </mat-header-row>
                                                    <mat-row
                                                        *matRowDef="let row; columns: analyteDisplayedColumns;">
                                                    </mat-row>
                                                </mat-table>
                                            </div>
                                        </mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="analyteMatchesDisplayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: analyteMatchesDisplayedColumns;"
                                        [class]="{'expandable-table-row': row.numAnalytes > 1}"
                                        [class.expanded-table-row]="expandedElement === row"
                                        (click)="expandRow(row)">
                                    </mat-row>
                                    <mat-row *matRowDef="let row; columns: ['expandedDetail']"
                                        class="detail-row">
                                    </mat-row>
                                </mat-table>
                            </div>
                            <div>
                                <mat-paginator [length]="analyteMatches && analyteMatches.length || 0"
                                    [pageSize]="pageSize" [pageIndex]="page" showFirstLastButtons="true"
                                    (page)="pageChange(analyteMatches, $event)" [pageSizeOptions]="[5, 10, 25, 100]">
                                </mat-paginator>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab *ngIf="pathways" textLabel="pathways">
                    <ng-template mat-tab-label>
                        Pathways
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="results-message-container" *ngIf="pathways.length == 0">
                            Your query didn't yield any results.
                        </div>
                        <div class="error-message-container" *ngIf="errorMessage">
                            <div class="error-message">
                                <div class="close-button">
                                    <button mat-mini-fab aria-label="Close error message" (click)="closeErrorMessage()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                                <span>
                                    {{errorMessage}}
                                </span>
                            </div>
                        </div>
                        <div class="results-table-container" *ngIf="pathways && pathways.length">
                            <div class="accordion-container">
                                <mat-accordion>
                                    <mat-expansion-panel (opened)="detailsPanelOpen = true" (closed)="detailsPanelOpen = false">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Details
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                {{!detailsPanelOpen ? 'Click to see table details' : 'Click to collapse panel'}}
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <div>
                                            The pathways table shows the mapping from analytes to pathways.
                                        </div>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel (opened)="rFunctionPanelOpen = true" (closed)="rFunctionPanelOpen = false">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                R Package Function
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                {{!rFunctionPanelOpen ? 'Click to see the R package function' : 'Click to collapse panel'}}
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <div class="code-containder">
                                            <div>pathways_df &#60;- RaMP::getPathwayFromAnalyte(</div>
                                                <div class="indent">analytes = c({{analytesParameters.join(', ')}}),</div>
                                                <div class="indent">conpass = &#123;conpass&#125;,</div>
                                                <div class="indent">host = &#123;host&#125;,</div>
                                                <div class="indent">dbname = &#123;dbname&#125;,</div>
                                                <div class="indent">username = &#123;username&#125;,</div>
                                                <div class="indent">NameOrIds = 'ids' or 'names'</div>
                                            <div>)</div>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                            <div class="pathways-table-top-options">
                                <div class="fill-middle"></div>
                                <mat-paginator [length]="pathways && pathways.length || 0" [pageSize]="pageSize"
                                    [pageIndex]="page" showFirstLastButtons="true" (page)="pageChange(pathways, $event)"
                                    [pageSizeOptions]="[5, 10, 25, 100]">
                                </mat-paginator>
                            </div>
                            <div class="table-container">
                                <mat-table [dataSource]="pagedData" matSort
                                    (matSortChange)="sortData(pathways, $event)">
                                    <ng-container [matColumnDef]="column.value"
                                        *ngFor="let column of pathwayColumns; index as index">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            <span>
                                                {{column.display}}
                                            </span>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <span>{{row[column.value]}}</span>
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="pathwayDisplayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: pathwayDisplayedColumns;"></mat-row>
                                </mat-table>
                            </div>
                            <div>
                                <mat-paginator [length]="pathways && pathways.length || 0" [pageSize]="pageSize"
                                    [pageIndex]="page" showFirstLastButtons="true" (page)="pageChange(pathways, $event)"
                                    [pageSizeOptions]="[5, 10, 25, 100]">
                                </mat-paginator>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>
