<div class="route-container">
    <h1 class="page-title">
        Pathway from Analytes
    </h1>
    <mat-card>
        <mat-card-content>
            <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="selectedTabChange($event)">
                <mat-tab textLabel="input">
                    <ng-template mat-tab-label>
                        Input
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="error-message-container" *ngIf="errorMessage">
                            <div class="error-message">
                                <div class="close-button">
                                    <button mat-mini-fab aria-label="Close error message" (click)="closeErrorMessage()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                                <span>
                                    {{errorMessage}}
                                </span>
                            </div>
                        </div>
                        <form #anlyteForm="ngForm" class="analyte-form">
                            <div class="identifiers">
                                <div class="text-input-container">
                                    <textarea class="targetBox" placeholder="Analytes" spellcheck="false"
                                        [(ngModel)]="metabolitesInput" name="metabolitesInput" [required]="!genesInput"></textarea>
                                </div>
                            </div>
                            <div class="identifiers">
                                <div class="text-input-container">
                                    <textarea class="targetBox" placeholder="Genes" spellcheck="false"
                                        [(ngModel)]="genesInput" name="genesInput" [required]="!metabolitesInput"></textarea>
                                </div>
                            </div>
                            <div class="description-right">
                                <div class="space-bottom">
                                    Enter a list of names or IDs.
                                </div>
                                <div class="space-bottom">
                                    When entering IDs, prepend with the database of origin followed by a colon, for example <strong>kegg</strong>:C02712, <strong>hmdb</strong>:HMDB04824, etc..  It is possible to input IDs using multiple different sources.  RaMP currently supports the following id prefixes:
                                </div>
                                <table class="mat-table static-table space-bottom">
                                    <tr class="mat-header-row">
                                        <th class="mat-header-cell">Analyte Type</th>
                                        <th class="mat-header-cell">ID Prefix Types</th>
                                    </tr>
                                    <tr class="mat-row">
                                        <td class="mat-cell">Metabolites</td>
                                        <td class="mat-cell">CAS, chebi, chemspider, enzymeNomenclature, hmdb, kegg, LIPIDMAPS, pubchem</td>
                                    </tr>
                                    <tr class="mat-row">
                                        <td class="mat-cell">Genes/Proteins</td>
                                        <td class="mat-cell">ensembl, entrez, uniprot</td>
                                    </tr>
                                </table>
                                <div class="space-bottom">
                                    <button class="form-divider" mat-stroked-button (click)="insertSample('ids')">
                                        <span>
                                            &#60; Use Metabolite ID's sample list
                                        </span>
                                    </button>
                                </div>
                                <div class="space-bottom">
                                    <button class="form-divider" mat-stroked-button (click)="insertSample('names')">
                                        <span>
                                            &#60; Use Metabolite Names sample list
                                        </span>
                                    </button>
                                </div>
                                <div class="form-options-top">
                                    <button mat-flat-button color="accent" (click)="findAnalytes()"
                                        [disabled]="anlyteForm.invalid">
                                        Find analytes in database
                                    </button>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </mat-tab>
                <mat-tab *ngIf="analyteMatches" textLabel="analyteMatches">
                    <ng-template mat-tab-label>
                        Analytes
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="results-message-container" *ngIf="analyteMatches.length == 0">
                            Your query didn't yield any results.
                        </div>
                        <div class="error-message-container" *ngIf="errorMessage">
                            <div class="error-message">
                                <div class="close-button">
                                    <button mat-mini-fab aria-label="Close error message" (click)="closeErrorMessage()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                                <span>
                                    {{errorMessage}}
                                </span>
                            </div>
                        </div>
                        <div class="results-table-container" *ngIf="analyteMatches && analyteMatches.length">
                            <div class="pathways-table-top-options">
                                <form #anlyteForm="ngForm">
                                    <button mat-flat-button color="accent" (click)="mapAnalytesToPathways()"
                                        [disabled]="anlyteForm.invalid">
                                        Map analytes to pathways
                                    </button>
                                </form>
                                <div class="fill-middle"></div>
                                <mat-paginator [length]="analyteMatches && analyteMatches.length || 0"
                                    [pageSize]="pageSize" [pageIndex]="page" showFirstLastButtons="true"
                                    (page)="pageChange(analyteMatches, $event)" [pageSizeOptions]="[5, 10, 25, 100]">
                                </mat-paginator>
                            </div>
                            <div class="table-container">
                                <mat-table [dataSource]="pagedData" multiTemplateDataRows matSort
                                (matSortChange)="sortData(analyteMatches, $event)">
                                    <ng-container [matColumnDef]="column.value"
                                        *ngFor="let column of analyteMatchesColumns; index as index">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            <span>
                                                {{column.display}}
                                            </span>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <span>{{row[column.value]}}</span>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="expandedDetail">
                                        <mat-cell *matCellDef="let element"
                                            [attr.colspan]="analyteMatchesDisplayedColumns.length">
                                            <div class="example-element-detail"
                                                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                                <mat-table [dataSource]="element.analytes">
                                                    <ng-container matColumnDef="isSelected">
                                                        <mat-header-cell *matHeaderCellDef>
                                                            <span>
                                                                Selected
                                                            </span>
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let row">
                                                            <span>
                                                                <mat-checkbox [(ngModel)]="row.isSelected"></mat-checkbox>
                                                            </span>
                                                        </mat-cell>
                                                    </ng-container>
                                                    <ng-container [matColumnDef]="column.value"
                                                        *ngFor="let column of analyteColumns; index as index">
                                                        <mat-header-cell *matHeaderCellDef>
                                                            <span>
                                                                {{column.display}}
                                                            </span>
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let row">
                                                            <span>{{row[column.value]}}</span>
                                                        </mat-cell>
                                                    </ng-container>
                                                    <mat-header-row *matHeaderRowDef="analyteDisplayedColumns">
                                                    </mat-header-row>
                                                    <mat-row
                                                        *matRowDef="let row; columns: analyteDisplayedColumns;">
                                                    </mat-row>
                                                </mat-table>
                                            </div>
                                        </mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="analyteMatchesDisplayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: analyteMatchesDisplayedColumns;"
                                        [class]="{'expandable-table-row': row.numAnalytes > 1}"
                                        [class.expanded-table-row]="expandedElement === row"
                                        (click)="expandRow(row)">
                                    </mat-row>
                                    <mat-row *matRowDef="let row; columns: ['expandedDetail']"
                                        class="detail-row">
                                    </mat-row>
                                </mat-table>
                            </div>
                            <div>
                                <mat-paginator [length]="analyteMatches && analyteMatches.length || 0"
                                    [pageSize]="pageSize" [pageIndex]="page" showFirstLastButtons="true"
                                    (page)="pageChange(analyteMatches, $event)" [pageSizeOptions]="[5, 10, 25, 100]">
                                </mat-paginator>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab *ngIf="pathways" textLabel="pathways">
                    <ng-template mat-tab-label>
                        Pathways
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="results-message-container" *ngIf="pathways.length == 0">
                            Your query didn't yield any results.
                        </div>
                        <div class="error-message-container" *ngIf="errorMessage">
                            <div class="error-message">
                                <div class="close-button">
                                    <button mat-mini-fab aria-label="Close error message" (click)="closeErrorMessage()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                                <span>
                                    {{errorMessage}}
                                </span>
                            </div>
                        </div>
                        <div class="results-table-container" *ngIf="pathways && pathways.length">
                            <div class="pathways-table-top-options">
                                <div class="fill-middle"></div>
                                <mat-paginator [length]="pathways && pathways.length || 0" [pageSize]="pageSize"
                                    [pageIndex]="page" showFirstLastButtons="true" (page)="pageChange(pathways, $event)"
                                    [pageSizeOptions]="[5, 10, 25, 100]">
                                </mat-paginator>
                            </div>
                            <div class="table-container">
                                <mat-table [dataSource]="pagedData" matSort
                                    (matSortChange)="sortData(pathways, $event)">
                                    <ng-container [matColumnDef]="column.value"
                                        *ngFor="let column of pathwayColumns; index as index">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            <span>
                                                {{column.display}}
                                            </span>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <span>{{row[column.value]}}</span>
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="pathwayDisplayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: pathwayDisplayedColumns;"></mat-row>
                                </mat-table>
                            </div>
                            <div>
                                <mat-paginator [length]="pathways && pathways.length || 0" [pageSize]="pageSize"
                                    [pageIndex]="page" showFirstLastButtons="true" (page)="pageChange(pathways, $event)"
                                    [pageSizeOptions]="[5, 10, 25, 100]">
                                </mat-paginator>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>
