<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
  <div *ngIf="tableData && tableData.length && tableData.length > 5">
    <mat-paginator
      [length]="tableData.length"
      [pageSize]="pageSize"
      [pageIndex]="page"
      showFirstLastButtons="true"
      (page)="pageChange($event)"
      [pageSizeOptions]="[5, 10, 25, 50]"
    >
    </mat-paginator>
  </div>
  <div class="table-container">
    <mat-table
      [dataSource]="pagedData"
      matSort
      (matSortChange)="sortData($event)"
    >
      <ng-container
        [matColumnDef]="column.value"
        *ngFor="let column of columns; index as index"
      >
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>
            {{ column.display }}
          </span>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span>{{ row[column.value] }}</span>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
  <div *ngIf="tableData && tableData.length && tableData.length > 5">
    <mat-paginator
      [length]="tableData.length"
      [pageSize]="pageSize"
      [pageIndex]="page"
      showFirstLastButtons="true"
      (page)="pageChange($event)"
      [pageSizeOptions]="[5, 10, 25, 50]"
    >
    </mat-paginator>
  </div>
</div>
