<ramp-loading></ramp-loading>
<mat-toolbar color="primary" class="mat-elevation-z3">
  RaMP
</mat-toolbar>
<mat-sidenav-container [hasBackdrop]="hasBackdrop">
  <mat-sidenav #sideNav mode="side" opened opened="false">
    <mat-nav-list>
      <mat-list-item>
         <a matLine routerLink="/pathway-enrichment-analysis">Pathway enrichment analysis</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content-container">
      <div class="hamburger-container">
        <button mat-icon-button aria-label="Open side navigation" color="accent" (click)="openSideNav()">
          <mat-icon svgIcon="menu"></mat-icon>
        </button>
      </div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

