<div class="content-wrapper">
  <header>
    <ramp-header class="header" [links]="links">
      <div class="left-options">
        <a href="/" title="RaMP home page">
          <img
            src="./assets/images/RaMPLogoNCATS.png"
            alt="RaMP logo"
            class="ramp-logo"
            id="logo"
          />
        </a>
      </div>
      <div class="right-options" fxLayoutAlign="space-around center"></div>
    </ramp-header>
<!--
    <ramp-header [links]="links"></ramp-header>
-->
  </header>
  <main role="ncats-main">
    <div class="main-content">
      <div class="" *ngIf="showBanner"><h1>This is a test</h1></div>
      <ramp-loading [isLoading]="loading"></ramp-loading>
      <router-outlet></router-outlet>
    </div>
  </main>
  <footer>
    <ncats-footer>
      <div class="app-description">
        <a href="/" title="RaMP home page">
          <img
            src="./assets/images/RaMPLogoNCATS.png"
            alt="RaMP logo"
            class="ramp-logo-footer"
            id="logo"
          />
        </a>
      </div>
    </ncats-footer>
  </footer>
</div>
