
.toolbar-template button {
  color: #ffffff !important;
  padding: 0 1vw 0 1vw;
}

.toolbar-template a {
  color: #ffffff !important;
}

.content-wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.ramp-logo-footer {
  max-width: 100%;
}
