@use '@angular/material' as mat;
@import 'libs/styles/src/styles/ncats-theme';



.toolbar-template {
  background-color: mat.get-color-from-palette($app-accent);
  color: #ffffff;
}

.footer-template {
  background-color: mat.get-color-from-palette($app-accent);
  color: #ffffff;
}

.toolbar-template button {
  color: #ffffff !important;
  padding: 0 1vw 0 1vw;
}

.toolbar-template a {
  color: #ffffff !important;
}

.content-wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.ramp-logo-footer {
  max-width: 100%;
}
