<div class="route-container">
    <h1 class="page-title">
        RaMP: Relational Database of Metabolomics Pathways
    </h1>
    <mat-card>
        <mat-card-content>
            <section class="table-of-contents">
                <h2>
                    Table of Contents
                </h2>
                <div class="section-name">
                    <a (click)="scrollTo('briefDescription')">
                        Brief Description
                    </a>
                </div>
                <div class="section-name">
                    <a (click)="scrollTo('contact')">
                        Contact
                    </a>
                </div>
                <div class="section-name">
                    <a (click)="scrollTo('citation')">
                        Citation
                    </a>
                </div>
                <div class="section-name">
                    <a (click)="scrollTo('summaryStatistics')">
                        Summary Statistics
                    </a>
                </div>
            </section>
            <mat-divider></mat-divider>
            <section #briefDescription>
                <h2>
                    Brief Description
                </h2>
                <div class="paragraph">
                    <span>RaMP is an integrative pathway database harmonizing analyte (genes, proteins, and metabolites) and pathway information from the following data sources: </span>
                    <span *ngFor="let version of sourceVersions; index as i; last as isLast">
                        <a [attr.href]="version.dataSourceUrl" target="_blank">{{version.dataSourceName}}</a><span> {{version.dataSourceVersion}}</span>
                        <span *ngIf="!isLast">, </span>
                        <span *ngIf="isLast">.</span>
                    </span>
                    <!-- <a href="http://www.genome.jp/kegg/" target="_blank">KEGG</a> vXXX, <a href="http://www.reactome.org/" target="_blank">REACTOME</a> vYYY, <a href="http://www.hmdb.ca/" target="_blank">HMDB</a> vZZZ, and <a href="http://www.wikipathways.org/index.php/WikiPathways" target="_blank">WIKIPATHWAYS</a> vAAA. -->
                </div>
                <div class="paragraph">
                    This application allows users to interface with RaMP without any programming experience. The functionalities currently supported are:
                </div>
                <div>
                    <ul>
                        <li>
                            <a matLine routerLink="pathway-enrichment-analysis">Perform a pathway enrichment analysis given a list of analyte names or IDs</a>,
                        </li>
                        <li>
                            <a matLine routerLink="analytes-from-pathways">Retrieve the analytes involved in a given list of pathways</a>,
                        </li>
                        <li>
                            <a matLine routerLink="pathways-from-analytes">Retrieve the pathways containing a given list of analytes</a>,
                        </li>
                        <li>
                            <a matLine routerLink="common-reaction-analytes">Find the analytes involved in the same reaction</a>, and
                        </li>
                        <li>
                            <a matLine routerLink="ontologies">Find the ontologies for a given list of metabolites or viceversa</a>.
                        </li>
                    </ul>
                </div>
                <div class="paragraph functionality-flowchart">
                    <img src="/assets/images/ramp_flowchart.png">
                </div>
                <div class="paragraph">
                    Of note, RaMP does not import all the information contained in these databases. Instead, RaMP includes pathway names and the genes and metabolites they include. RaMP is a work in progress and we will be expanding its content (reaction-level information, non-human compounds and genes, etc.).
                </div>
                <div class="paragraph">
                    More details can be found in <a href="http://www.mdpi.com/2218-1989/8/1/16" target="_blank">our manuscript</a>, and an example usage can be found in <a href="https://pubmed.ncbi.nlm.nih.gov/30725469/" target="_blank">this chapter</a>.
                </div>
            </section>
            <mat-divider></mat-divider>
            <section #contact>
                <h2>
                    Contact
                </h2>
                <ul> 
                    <li>
                        John Braisted - <a href="mailto:john.braisted@nih.gov">john.braisted@nih.gov</a>
                    </li>
                    <li>
                        Ewy Mathé - <a href="mailto:ewy.mathe@nih.gov">ewy.mathe@nih.gov</a>
                    </li>
                    <li>
                        Jorge Neyra - <a href="mailto:jorge.neyra@nih.gov">jorge.neyra@nih.gov</a>
                    </li>
                    <li>
                        Andrew Patt - <a href="mailto:andy.patt@nih.gov">andy.patt@nih.gov</a>
                    </li>
                    <li>
                        Kyle Spencer - <a href="mailto:kyle.spencer@nih.gov">kyle.spencer@nih.gov</a>
                    </li>
                </ul>
                <div class="paragraph">
                    For questions or issues, please submit an issue on our GitHub site at <a href="https://github.com/ncats/RaMP-DB/issues" target="_blank">https://github.com/ncats/RaMP-DB</a>
                </div>
            </section>
            <mat-divider></mat-divider>
            <section #citation>
                <h2>
                    Citation
                </h2>
                <div class="paragraph">
                    If you use RaMP, please cite the following work:
                </div>
                <div class="paragraph">
                    Zhang, B., et al., RaMP: A Comprehensive Relational Database of Metabolomics Pathways for Pathway Enrichment Analysis of Genes and Metabolites. Metabolites, 2018. 8(1).
                </div>
                <div class="paragraph">
                    PMID: 29470400; PMCID: PMC5876005; DOI: 10.3390/metabo8010016
                </div>
                <div class="paragraph">
                    To access, <a href="https://www.mdpi.com/2218-1989/8/1/16" target="_blank">click here</a>.
                </div>
            </section>
            <mat-divider></mat-divider>
            <section #summaryStatistics>
                <h2>
                    Summary Statistics
                </h2>
                <div class="upset-plots-container">
                    <div>
                        <ramp-upset title="Metabolite Overlap" [intersections]="compoundsIntersections" [soloSets]="compoundsSoloSets" [allData]="compoundsAllData" scale="log">
                        </ramp-upset>
                    </div>
                    <div>
                        <ramp-upset title="Gene Overlap" [intersections]="genesIntersections" [soloSets]="genesSoloSets" [allData]="genesAllData" scale="log">
                        </ramp-upset>
                    </div>
                </div>
            </section>
        </mat-card-content>
    </mat-card>
</div>
