
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ramp-client-primary: mat-palette($mat-indigo);
$ramp-client-accent: mat-palette($mat-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ramp-client-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ramp-client-theme: mat-light-theme($ramp-client-primary, $ramp-client-accent, $ramp-client-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ramp-client-theme);

/* You can add global styles to this file, and also import other style files */

body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

div {
    box-sizing: border-box;
}

a {
    color: #448aff;
}

router-outlet + * {
    flex-grow: 1;
}

.route-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fill-middle {
    flex-grow: 1;
}

.clickable:hover {
    cursor: pointer;
}

@media(min-width: 600px) {
    html {
        height: calc(100vh - 64px);
        margin-top: 64px;
    }
}

@media(max-width: 704px) {

    router-outlet + * {
        display: flex;
        box-sizing: border-box;
        padding: 7px;
        max-width: 100%;
    }

    .route-container {
        height: auto;
        width: 100%;
        max-width: 100%;
    }

    .page-title {
        font-size: 1.5em;
    }
}

@media(max-width: 599px) {
    html {
        height: calc(100vh - 56px);
        margin-top: 56px;
    }
}